 	<!--<div class="panel panel-primary">
		 </div>-->

<div id="imagecanvass" class="panel panel-primary">
  <a href="{{image.url}}"title="{{image.organism}}" class="lightbox"><img src="{{image.url}}" width="553" height="450" alt="Single Image"/></a>
</div>
  <!--For zooming functionality:
	  <div id="openseadragon1" style="width: 800px; height: 600px;"></div>
  
  <a href="javascript: void(0)"><button type="button" id="highResButton" class="btn btn-primary">High Resolution View</button></a>
  <a href="javascript: void(0)"><button type="button" id="zoomableViewButton" class="btn btn-primary disabled">Zoomable View</button></a>
	   <a href="javascript: void(0)"><button type="button" id="drawingToolButton" class="btn btn-primary">Annotation Tool</button></a>
-->