{% load staticfiles %}

<!-- FlatUI CSS -->
<link rel="stylesheet" href="{% static 'annotation/css/ui.dynatree.css' %}">

<!-- JSTree CSS -->
<link rel="stylesheet" href="{% static 'annotation/css/jstree/themes/default/style.css' %}">

<!-- NCBO Ontology viewer CSS -->
<link rel="stylesheet" href="http://bioportal.bioontology.org/widgets/minified/jquery.ncbo.tree.min.css">

<!-- Select2 CSS -->
<link rel="stylesheet" href="{% static 'annotation/css/select2.css' %}">

<style>
#drawing-div {
	border: solid blue 0px;
}

span.annotation {
    float: left;
    width: 32px;
    height: 30px;
	padding-left:0px;
	padding-right:0px;
}
.btn span.tool-drawer {
    background: url({% static 'queries/img/black124.png' %}) no-repeat left center;
}
.btn span.tool-selector {
    background: url({% static 'queries/img/selection7.png' %}) no-repeat left center;
 }
.btn span.tool-viewport-drag {
    background: url({% static 'queries/img/four9.png' %}) no-repeat left center;
  }
.btn span.tool-rectangle {
    background: url({% static 'queries/img/screen77.png' %}) no-repeat left center;
  }
.btn span.tool-point {
    background: url({% static 'queries/img/Location_pin_24.png' %}) no-repeat center;
  }
.btn span.tool-rectangle {
	    background: url({% static 'queries/img/screen77.png' %}) no-repeat left center;
  }
.btn span.tool-polyline{
	    background: url({% static 'queries/img/polygonal75.png' %}) no-repeat left center;
  }
.btn span.tool-undo {
	    background: url({% static 'queries/img/undo12.png' %}) no-repeat left center;
  }
.btn span.tool-redo {
   background: url({% static 'queries/img/redo11.png' %}) no-repeat left center;
 }	  
.btn span.tool-save {
		    background: url({% static 'queries/img/floppy1.png' %}) no-repeat left center;
  }
.btn span.tool-copy {
	   background: url({% static 'queries/img/copy9.png' %}) no-repeat left center;
}
.btn span.tool-cut {
	    background: url({% static 'queries/img/cutting.png' %}) no-repeat left center;
  }
.btn span.tool-paste {
   background: url({% static 'queries/img/paste2.png' %}) no-repeat left center;
 }	
 
</style>

