<div class="row">
  <div id="drawing-div" style="height:{{image.dimension.0}}px;width:{{image.dimension.1}}px">
  	<div id="viewport-div">
	 <img src="{{image.url}}" alt="{{image.Id}}"/>
  	</div>
  </div>
  
	<div id="viewer" style="width: 500px; height: 300px;"></div>
	<div id="phis-sample-overlay" class="highlight" >Sample annotation</div>
	 
   	  <button type="button" id="zoomabletoggler" class="btn btn-primary">Annotation</button>
	<button type="button" id="activation" class="btn btn-primary">Activation</button>
</div>