
<div  id="drawingarea" style="border:1px solid red; height:{{image.dimension.1}}px;width:{{image.dimension.0}}px;">
	
	<div id="drawingpanel" class="fabric" style="position:absolute;border:1px solid green;top:0px;height:{{image.dimension.1}}px;width:{{image.dimension.0}}px;">
		<canvas id="drawingcanvas" height={{image.dimension.1}} width={{image.dimension.0}}  style=";"></canvas>
	</div>
   
   	
	<div id="zoomviewer" class="" style="position:absolute;border:1px solid blue;top:0px;height:{{image.dimension.1}}px;width:{{image.dimension.0}}px;">
	</div>
	
	<div id="imagepanel" class="" style="position:absolute;border:1px solid green;top:0px;height:{{image.dimension.1}}px;width:{{image.dimension.0}}px;">
		 <img src={{image.url}} alt="img" class="img-responsive"/>
	</div>
	
</div>
<a href="{% url 'queries:detail_view' %}?imageId={{image.Id}}"><button type="button" id="detail_view_link" class="btn btn-primary">Navigate to detail view</button></a>
