<div id="annotationmetadata" class="row">
		
		<!--	 
	   	<h3 id="" class="panel-title" style="margin-top: 10px;padding: 0px;">
			<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms" >Annotations</a>
		</h3>
		
		<div class="panel panel-primary">
		</div>
		-->
			
		<div class="row">
			
			<div class="col-lg-12">
		   		<div role="tabpanel">

		   		  <!-- Nav tabs -->
		   		  <ul class="nav nav-tabs" role="tablist">
		   		    <li role="presentation" class="active"><a href="#ontologies" aria-controls="home" role="tab" data-toggle="tab">Ontologies</a></li>
		   		    <li role="presentation"><a href="#rois" aria-controls="rois" role="tab" data-toggle="tab">ROIs</a></li>
		   		    <li role="presentation"><a href="#text-annotations" aria-controls="text-annotations" role="tab" data-toggle="tab">Texts</a></li>
		   		    <li role="presentation"><a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">Metadata</a></li>
		   		  </ul>

		   		  <!-- Tab panes -->
		   		  <div class="tab-content">
		   		    <div role="tabpanel" class="tab-pane active" id="ontologies">
						
						<h3 id="" class="panel-title" style="margin-top: 10px;padding: 0px;">
							<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms" >Ontologies</a>
						</h3>
		
						<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
						</div>
						
						<select name="ontologies" value="Select All" class="select-block ontology-selector" multiple="multiple" style="width: 75%; height=10"> 
						<!--
						  <option value="1">Anatomy (EMAP)</option>
						  <option value="2">Phenotype (MP) </option>
						  <option value="3">Gene (GO)</option>
						-->
							
						</select>
						
						<button type="button" id="load_selected_ontologies" class="btn btn-primary">Load</button>
						
						<!--		
						<select name="ontologies" value="Select All" class="select-block ontology-selector" multiple="multiple" style="width: 80%; height=10"> </select> <button type="button" id="" class="btn btn-primary">Load</button>
						-->
						
						<div id="tree_wrapper" style="overflow:auto;height: 500px; border-style: solid; border-color:#1ABC9C #1ABC9C;">
							<div id="tree_holder">
								<div id="ontologies_div">
								</div>
							</div>
						</div>
						
						
						
						<button type="button" id="add_ontology_term" class="btn btn-primary">Add terms</button>
						
		   		    </div>
		   		    <div role="tabpanel" class="tab-pane" id="rois">ROIs
						
					</div>
		   		    <div role="tabpanel" class="tab-pane" id="text-annotations">
		   		    	Textual Annotations
		   		    </div>
		   		    <div role="tabpanel" class="tab-pane" id="metadata">
						Metadata
		   		    </div>
		   		  </div>

		   		</div>
			</div>
			
		</div>
		
</div>