<input type="checkbox" id="tool-mode" data-toggle="switch" on-label="Edit" off-label="View"/>

<div class="row">
   	<h3 id="" class="panel-title" style="margin-top: 10px;padding: 0px;">
		<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms" >   "    "   Toolbox</a>
	</h3>
	
		<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
		</div>
	
	<div class="list-group">
	
	<ul class="list-group">
		
	<!-- Elements not desired on first demo - Thursday, August 7th, 2014.
		<li class="list-group-item">
		<button id="tool-edit" type="button" class="btn btn-default"> 
			<span class="annotation tool-drawer"></span>
		</button>
		<button id="tool-select" type="button" class="btn btn-default"> 
			<span class="annotation tool-selector"></span>
		</button>
		<button id="tool-drag" type="button" class="btn btn-default"> 
			<span class="annotation tool-viewport-drag"></span>
		</button>
		</li>
	-->
		
	<li class="list-group-item">
	<!--
			<button id="tool-feducial" type="button" class="btn btn-xs btn-primary"> 
				<span class="annotation tool-rectangle"></span>
			</button>
	-->
	<button id="tool-point" type="button" class="btn btn-xs btn-primary"> 
		<span class="annotation tool-point"></span>
	</button>
	<button id="tool-rectangle" type="button" class="btn btn-xs btn-default"> 
		<span class="annotation tool-rectangle"></span>
	</button>
	<button id="tool-polyline" type="button" class="btn btn-xs btn-default"> 
		<span class="annotation tool-polyline"></span>
	</button>
	</li>
	
	<!--
	<li class="list-group-item">
	
	</li>
	 <!--Elements not desired on first demo - Thursday, August 7th, 2014.
		<button id="tool-copy" type="button" class="btn btn-default"> 
			<span class="annotation tool-copy"></span>
		</button>
		<button id="tool-cut" type="button" class="btn btn-default"> 
			<span class="annotation tool-cut"></span>
		</button>
		<button id="tool-paste" type="button" class="btn btn-default"> 
			<span class="annotation tool-paste"></span>
		</button>
	</li>
	-->
	
	</ul>
	
    </div>
	
</div>

<div class="row">
	   	<h3 id="" class="panel-title" style="margin-top: 10px;padding: 0px;">
			<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms" >   "    "   Ontologies</a>
		</h3>
		
			<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
			</div>
</div>

<div class="col-lg-1">

<select name="ontologies" value="Select All" class="select-block">
  <option value="0" elected="selected">Anatomy (EMAP)</option>
  <option value="1">Phenotype (MP) </option>
  <option value="2">Gene (GO)</option>
</select>

</div>

<div class="row"></div>
<div id="tree" ></div>

<div class="row">
   	<h3 id="" class="panel-title" style="margin-top: 10px;padding: 0px;">
		<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms" >   "    "   </a>
	</h3>
	
		<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
		</div>
	
</div>

<style>

</style>