<div class="row">
	<div class="panel-group" id="facets_accordion">
		<div class="panel panel-primary">
   
    <div class="panel-heading">
	   	<h3 id="anatomytermsID" class="panel-title">
			<a data-toggle="collapse" data-parent="#facets_accordion">Filters</a>
		</h3>
 	</div>
	
	<div id="facets" class="panel-collapse collapse in">
		
		<ul class="list-group">
		  <li href="#" class="list-group-item">
			  {{forloop.counter}}:
         	 <span class="badge"> {{image.anatomy_term}}</span>
		 </li>
		</ul>
		
	</div>
	
	</div>
  </div>
</div>