<div class="tab-pane fade active in" id="prototype1Tab">
	<div id="facets_panel" class="panel-group">
		
		<div class="panel panel-primary">
   	   
		  <div class="panel-heading">
	   	
			<h3 id="facet_header" class="panel-title">
				<a data-toggle="collapse" data-parent="#facets">Filters</a>
			</h3>
		  </div>
	
	
		<input name="filters" id="filters" class="" value="" style="font-size:15px;"/>
		
		<div class="col-lg-11">
		</div>
		<span id="helpIcon" class="glyphicon glyphicon-question-sign" style="cursor: help;"></span>
		
		<div class="tooltiptext" style="display:none">
			<u><b>Checkbox filtering</b></u><br/>
			Click on a <i>facet</i> to toggle (open or hide) it.<br/>
			Click on a <i>checkbox</i> to <i>filter</i> your search results.<br/>
			Filtered results display to the right of the <i>facets</i> panel.<br/>
			Applied <i>filters</i> appear in the box at the top of <i>facets</i> panel.<br/>
			Click again on <i>selected checkbox</i>  or close the applied <i>filter</i> to unselect it.<br/><br/>
			
			<u><b>Text-based filtering</b></u><br/>
			Click on <i>Anatomy</i>, <i>Gene</i> or <i>Phenotype</i> facets to open or hide it.<br/>
			Enter <i>ontology term</i> or <i>symbol</i> or <i>freetext</i> in the box provided.<br/>
			<i>Autosuggest</i> provides you with a list of likely terms.<br/>
			Click on the <i>GO</i> button after entering term to apply text filter.<br/>
			Filtered results display to the right of the <i>facets</i> panel.<br/>
			Delete <i>text</i> from the box provided and click <i>GO</i> to remove text filter.<br/>
		</div>
		
		<div id="facets" class="collapse in">
		
		<ul class="list-group">
		  <li href="#" class="list-group-item">
     	  </li>
		</ul>
		
		</div>
	</div>
</div>
</div>