<div class="row">
</div>


<div id="facetsTab" class="bs-component">

	<!-- disabling tabs for alternative facets
	<ul class="nav nav-pills" style="margin-bottom: 15px;">
		<li class="active"><a href="#prototype1Tab" data-toggle="tab">FS</a></li>
		<li><a href="#prototype2Tab" data-toggle="tab">FS2</a></li>
		<li><a href="#prototype3Tab" data-toggle="tab">FS3</a></li>
		<li><a href="#prototype4Tab" data-toggle="tab">FS4</a></li>
	</ul>
	-->
	<div id="facetsTabContents" class="tab-content">
		{% include "queries/html/components/query/left/facets.html" %}
	</div>

</div>
<div id="tour-placeholder2" class="bs-component">
</div>