  <div class="tab-pane fade" id="prototype2Tab">
	
  	<div id="facets_panel2" class="panel-group">
  		<div class="panel panel-primary">
   
      <div class="panel-heading">
  	   	<h3 id="facet_header2" class="panel-title">
  			<a data-toggle="collapse" data-parent="#facets2">Filters 2</a>
  		</h3>
   	</div>
	
  	<div id="facets2" class="collapse in">
		
  		<ul class="list-group">
  		  <li href="#" class="list-group-item">

       	  </li>
  		</ul>
		
  	</div>
	
  	</div>
  </div>
</div>