<div class="row" id="query_history_div">
	
	<div class="panel-group" id="query_history_accordion">
		<div class="panel panel-primary">
   
    <div class="panel-heading">
	   	<h3 id="queryHistoryID" class="panel-title">
			<a data-toggle="collapse" data-parent="#query_history_accordion" href="#query_history">History</a>
		</h3>
 	</div>
	
	<div class="col-lg-11">
	</div>
	
	<span id="historyIcon" class="glyphicon glyphicon-question-sign" style="cursor: help;"></span>
	
	<div class="tooltiptext" style="display:none">
		<u><b>Query history & display</b></u><br/>
		Natural language text corresponding to query is displayed.<br/>
		Query can be viewed by clicking on the <i>View query</i> button.<br/><br/>
				
		<u><b>Query sharing</b></u><br/>
		Copy query displayed by clicking on the <i>View query</i> button.<br/>
		Share <i>query</i> by clicking on the <i>Share</i> button.<br/>
		Share <i>query</i> through Facebook, Google, Email, Pinterest and Twitter.<br/>
		Bookmark <i>query</i> by clicking on the <i>Bookmark query</i> button.<br/>
	</div>
	
	
	<div id="query_history_container" style="overflow-y: scroll; height:400px;">

	<div id="query_history" class="panel-collapse collapse in">


		</div>
		</div>
		
		</div>
	  </div>

  </div>