<div class="row" id="query_history_div">
	
	<div class="panel-group" id="query_history_accordion">
		<div class="panel panel-primary">
   
    <div class="panel-heading">
	   	<h3 id="queryHistoryID" class="panel-title">
			<a data-toggle="collapse" data-parent="#query_history_accordion" href="#query_history">History</a>
		</h3>
 	</div>

	
	<div id="query_history_container" style="overflow-y: scroll; height:400px;">

	<div id="query_history" class="panel-collapse collapse in">


		</div>
		</div>
		
		</div>
	  </div>

  </div>