<div class="panel panel-primary">  
<div class="panel-heading">
   	<h3 id="tableTitle" class="panel-title">Annotations</h3>
</div>
	
</div>

<div class="bs-component">

<ul class="nav nav-pills" style="margin-bottom: 15px;">
<li class="active"><a href="#roiTab" data-toggle="tab">ROIs</a></li>
<li><a href="#annotationTab" data-toggle="tab">Annotations</a></li>
</ul>
<div id="myTabContent" class="tab-content">

{% include "queries/html/components/detailed/right/widgets/roi_tab.html" %}
{% include "queries/html/components/detailed/right/widgets/annotation_tab.html" %}

</div>
</div>