<div class="row">

		   	<h3 id="" class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms">Regions of Interest</a>
			</h3>
		
			<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
			</div>
			
			<div id="roitablediv">
			
			<!--<table id="roitable" class="table table-bordered table-striped table-hover table-condensed"> -->
	        <table id="roitable" class="display compact responsive nowrap" cellspacing="0" width="100%">
	          <thead>
	            <tr>
				  <th></th>
	              <th class="dt-center">ID</th>
	              <th>Dimens.</th>
				  <th>Annotations</th>
				  <th>Channels</th>
	              <th class="none">Curator</th>
				  <th class="none">Created</th>
				  <th class="none">Updated</th>	
				  <th>Modify</th>		
	            </tr>
	          </thead>
          
			  <tbody>
	          </tbody>
			  <tr>
			  </tr>
			  <!--
	          <tfoot>
	          
			    <tr>
	              <th>ID</th>
				  <th>Description</th>		
	              <th>Dimensions</th>
				  <th>Annotations</th>
	              <th>Created By</th>
				  <th>Last Modified</th>							
	            </tr>
			  
				  
	          </tfoot>
				  -->
		  
	        </table>
		</div>
</div>

<div id="annotationtablediv" style="display:none;">
</div>

<div id="channelstablediv" style="display:none;">
</div>