<div id="imagemetadata" class="row">
			<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
			</div>
			
			  <li href="#" class="list-group-item">
				  Search term:
	         	 <span class="phis-badge"> {{image.queryString}}</span>
			 </li>
			 
	   	<h3 id="" class="panel-title" style="margin-top: 10px;padding: 0px;">
			<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms" >Metadata & Genotype</a>
		</h3>
		
		<div class="panel panel-primary">
		</div>
		
		<div class="row">
			
			<div class="col-lg-6">
		   	<h3 id="" class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms">Metadata</a>
			</h3>
		
			<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
			</div>
		
			<ul class="list-group">
			  <li href="#" class="list-group-item">
				  
				  Organism:		
				    <span class="phis-badge"> {{image.organism}}</span>
			 </li>
			  {% if image.age %}
			  <li href="#" class="list-group-item">
				  Age:
	         	 <span class="phis-badge"> {{image.age}}</span>
			 </li>
			 {% elif image.embrionic_age %}
   				  Embryonic age:
   	         	 <span class="phis-badge"> {{image.embrionic_age}}</span>
			 {% endif %}
			 
			 {% if image.sex %}
			  <li href="#" class="list-group-item">
				  Sex:
	         	 <span class="phis-badge"> {{image.sex}}</span>
			 </li>
			 {% endif %}
			 {% if image.stage %}
			  <li href="#" class="list-group-item">
				  Stage:
	         	 <span class="phis-badge"> {{image.stage}}</span>
			 </li>
			 {% endif %}
			
   			 {% if image.name %}
   			  <li href="#" class="list-group-item">
   				  Image name:
   	         	 <span class="phis-badge"> {{image.name}}</span>
   			 </li>
   			 {% endif %}
			 
			 {% if image.imaging_method_label %}
			 <li href="#" class="list-group-item">
				Method:
	 				 	<span class="phis-badge"> {{image.imaging_method_label.0}} </span>
			 </li>
			{% endif %}
			
			<!--
  			 {% if image.height or  image.width %}
  			  <li href="#" class="list-group-item">
  				  Dimension:
  	         	 <span class="phis-badge"> {{image.height}} x {{image.width}}</span>
  			 </li>
  			 {% endif %}
			 
			 -->
			 
 			{% if image.observations %}
 			 <!--<li href="#" class="list-group-item">
 		    {% for key, value in image.observations %}
			 	{% if key == "Procedure name" %}
					Proc.:
				{% else %}
					{{key}}:
				{% endif %}	
 			 	<span class="phis-badge">{{value}}</span>
 		    {% endfor %}
 			 </li>
			-->
 			{% endif %}
			
 			 {% if image.anatomy_term or image.depicted_anatomy_term_bag or image.expressed_in_anatomy_term %}
 			  <li href="#" class="list-group-item">
 				  Anatomy:
				  {% if image.anatomy_term  %}
 	         		 <span class="phis-badge"> {{image.anatomy_term}}</span>
				  {% endif %}
 				  {% for value in image.depicted_anatomy_term_bag %}
  			 		<span class="phis-badge">{{value}}</span>
 				  {% endfor %}
 				  {% for term in image.expressed_in_anatomy_term %}
  			 		<span class="phis-badge">{{term}}</span>
 				  {% endfor %}
 			 </li>
 			 {% endif %}
			 
 			 {% if image.url %}
 			  <li href="#" class="list-group-item">
 				  Image:
 	         	 <span class="phis-badge"> <a href="{{image.url}}">{{image.id}}</a></span>
 			 </li>
 			 {% endif %}
			 
 			 {% if image.visualisation %}
 			  <li href="#" class="list-group-item">
 				  Visualisation:
 	         	 <span class="phis-badge"> {{image.visualisation.0}}</span>
 			 </li>
 			 {% endif %}
			 
 			 {% if image.expression_in_label_bag %}
 			  <li href="#" class="list-group-item">
 				  Expression:
 	         	  {% for term in image.expression_in_label_bag %}
 			 		<span class="phis-badge">{{term}},</span>
				  {% endfor %}
 			 </li>
 			 {% endif %}
			 
			</ul>
			
			</div>
			<div class="col-lg-6">
		   	<h3 id="" class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms">Attribution</a>
			</h3>
		
			<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
			</div>
 			{% if image.image_generated_by %}
 			 <li href="#" class="list-group-item">
 				Generated By:
 			 	<span class="phis-badge">{{image.image_generated_by.0}} </span>
 			 </li>
 			{% endif %}
			
		 	{% if image.image_processed_by %}
  			  <li href="#" class="list-group-item">
  				  Processed By:
  	         	 <span class="phis-badge"> {{image.image_processed_by}}</span>
  			 </li>
  			 {% endif %}
			 
			 {% if image.host_name %}
  			  <li href="#" class="list-group-item">
  				  Repository:
  	         	 <span class="phis-badge"><a href="{{image.host_url}}">{{image.host_name}}</a></span>
  			 </li>
  			 {% endif %}
			</div>
		
		
			<div class="col-lg-6" style="margin-bottom: 0px;padding-top: 15px;">
		   	<h3 id="" class="panel-title" >
				<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms">Genotype</a>
			</h3>
		
			<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
			</div>
		
			<ul class="list-group">
				{% if image.gene %}
					 <li href="#" class="list-group-item">
						 Genotype: 
						 {% for symbol in image.gene %}
				 			 <span class="phis-badge-genotype"> | {{symbol}} | </span>
			    		 {% endfor %}
				
						 {% for zyg in image.zygosity %}
				 			 <span class="phis-badge-genotype">{{zyg}} |</span>
			  			 {% endfor %}
						 
						 {% for mutation_type in image.mutation_types %}
				 			 <span class="phis-badge-genotype">{{mutation_type}} |</span>
			  			 {% endfor %}
						 
				 	</li>
				 {% elif image.expressed_gf_symbol %}
					 <li href="#" class="list-group-item">
						 Genotype: 
						 {% for symbol in image.expressed_gf_symbol %}
				 			 <span class="phis-badge-genotype"> | {{symbol}} | </span>
			    		 {% endfor %}
				
						 {% for zyg in image.zygosity %}
				 			 <span class="phis-badge-genotype">{{zyg}} |</span>
			  			 {% endfor %}
						 
						 {% for mutation_type in image.mutation_types %}
				 			 <span class="phis-badge-genotype">{{mutation_type}} |</span>
			  			 {% endfor %}
						 
				 	</li>
				 {% elif image.chromosome %}
					 <li href="#" class="list-group-item">
	 					Genotype: |
	 					{% for val in image.chromosome %}
	 				 		<span class="phis-badge-genotype">  CR{{val}}, </span>
							<span class="phis-badge-genotype">  {{image.start_pos.0}}, </span>
							<span class="phis-badge-genotype">  {{image.end_pos.0}}, </span>
							<span class="phis-badge-genotype">  {{image.strand.0}}| </span>
	 			   		 {% endfor %} 
				
	 					 {% for zyg in image.zygosity %}
	 				 		<span class="phis-badge-genotype">{{zyg}} |</span>
	 			  		 {% endfor %}
						
					 	{% for mutation_type in image.mutation_types %}
			 				 <span class="phis-badge-genotype">{{mutation_type}} |</span>
		  				{% endfor %}
					 
					 </li>
				{% endif %}
			
			 	{% if image.sample_type %}
	  			  <li href="#" class="list-group-item">
	  				  Sample type:
	  	         	 <span class="phis-badge">{{image.sample_type}}</span>
	  			 </li>
	  			 {% endif %}
				 
				{% if image.zygosity %}
				 <li href="#" class="list-group-item">
					Zygosity:
					{% for zyg in image.zygosity %}
					 	<span class="phis-badge">{{zyg}} </span>
				    {% endfor %}
				 </li>
				{% endif %}
				 
 				{% if image.image_type %}
 				<!--<li href="#" class="list-group-item">
 					Image type:
 					{% for type in image.image_type %}
						{% if type == "PHENOTYPE_ANATOMY" %}
	 				 	   <span class="phis-badge">Phenotype/Anatomy</span>
						{% elif type == "EXPRESSION" %}
							<span class="phis-badge">Expression</span>
						{% endif %}
 			  		{% endfor %}
 				 </li>
				-->
 				{% endif %}
				 
			</ul>
			
			</div>
			
			
		</div>
		
		
</div>