{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>PhenoImageShare: Annotation tool</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">	
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'queries/css/bootstrap.css' %}" media="screen">

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
-->

<!-- FlatUI CSS -->
<link rel="stylesheet" href="{% static 'annotation/css/flat-ui.annotation_view.css' %}">

<!-- Bootstrap-Switch CSS -->
<link rel="stylesheet" href="{% static 'annotation/css/bootstrap-switch.css' %}">

<!-- Select2 CSS -->
<link rel="stylesheet" href="{% static 'annotation/css/select2-4.0.0.css' %}">

<!-- JSTree CSS -->
<link rel="stylesheet" href="{% static 'annotation/css/jstree/themes/default/style.css' %}">

<!-- jQuery qTip styles -->
<link rel="stylesheet" href="{% static 'queries/css/jquery.qtip.css' %}">

<!-- Owl stylesheet -->
<link rel="stylesheet" href="{% static 'annotation/css/owl.carousel.css' %}">
 
<!-- Owl theme stylesheet -->
<link rel="stylesheet" href="{% static 'annotation/css/owl.theme.css' %}">
 
 <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>

 <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
 
 <!-- Datatables CSS -->
 <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
 
 <!-- Tabletools datatables CSS -->
 <link rel="stylesheet" type="text/css" href="{% static 'queries/css/dataTables.tableTools.css' %}">

 <!-- Responsive datatables CSS -->
 <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css">
 
 
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/jquery/v1.10.2/jquery.min.js' %}"></script>

<!-- Bootstrap -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/bootstrap.min.js' %}"></script>

<!-- Bootstrap-Switch JS Library-->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/lib/bootstrap-switch/bootstrap-switch.js' %}"></script>

<!-- Openseadragon JS -->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/lib/openseadragon/v2.0.0/openseadragon.min.js' %}"></script>

<!-- Annotation Tool (as Seadragon Plugin) JS -->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/controllers/annotation_controller.js' %}"></script>

<!-- Toolbox for Annotation Tool -->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/controllers/toolbox.js' %}"></script>

<!-- Ontologies for Annotation Tool -->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/controllers/ontologies.js' %}"></script>

<!-- Metadata Panel for Annotation Tool -->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/controllers/metadata.js' %}"></script>

<!-- Fabric JS -->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/lib/fabric/v1.5.0/fabric.js' %}"></script>

<!-- jQuery Cookie manager -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.cookie.js' %}"></script>

<!-- JSTree  -->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/lib/jstree/jstree.js' %}"></script>

<!-- JSTree  Context Menu -->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/lib/jstree/jstree.contextmenu.js' %}"></script>

<!-- Select2 JS -->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/lib/select2/select2.full.js?v4.0.0' %}"></script>

<!-- qTip help jquery script -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/qTip/jquery.qtip.min.js' %}"></script>
<!--
<!-- Caseroul  
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/lib/carousel/owl.carousel.js' %}"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>
-->
<!-- Datatables JQuery JS -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>

<!-- Tabletools datatables extension JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/datatables/extensions/tabletools/dataTables.tableTools.js' %}"></script>

<!-- Responsive datatables JS -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.min.js"></script>


</head>

<body class="container-fluid">

	  
<div class="row">
</div>

<div class="row">
	
	<div id="view-draw" class="col-lg-1">
		<!--<input type="checkbox" id="tool-mode" class="switch" data-toggle="switch" on-label="Edit" off-label="View"/>-->
		<input type="checkbox" id="tool-mode" name="mode-toggle" />
		
	</div>
	  
	<div id="toolbox"  class="col-lg-5">
		<div class="panel panel-primary">
  		  <div class="panel-heading">
   			<h3 id="toolbox-header" class="panel-title">
				<a data-toggle="collapse" data-parent="#toolbox">Toolbox</a>
			</h3>
			
		  </div>
			<div class="list-group">
					<ul class="list-group">
					<li class="list-group-item-annotation">
						<b>Objects:</b>
						<button id="rectangle-button" type="button" class="btn btn-xss btn-default"> 
							<span class="annotation tool-rectangle" data-title="Draw Rectangle"></span>
						</button>
						
						<button id="point-button" type="button" class="btn btn-xss btn-default"> 
							<span class="annotation tool-point"></span>
						</button>

						<button id="polyline-button" type="button" class="btn btn-xss btn-default"> 
							<span class="annotation tool-polyline"></span>
						</button>
						
						<button id="free-button" type="button" class="btn btn-xss btn-default"> 
							<span class="annotation tool-free"></span>
						</button>
						
					</li>
	
					<li class="list-group-item-annotation">
						<b>Actions:</b>
						<button id="save-button" type="button" class="btn btn-xss btn-default"> 
							<span class="annotation tool-save"></span>
						</button>
						<button id="undo-button" type="button" class="btn btn-xss btn-default"> 
							<span class="annotation tool-undo"></span>
						</button>
						<button id="redo-button" type="button" class="btn btn-xss btn-default"> 
							<span class="annotation tool-redo"></span>
						</button>
						<button id="edit-button" type="button" class="btn btn-xss btn-default"> 
							<span class="annotation tool-edit"></span>
						</button>
						<button id="delete-button" type="button" class="btn btn-xss btn-default"> 
							<span class="annotation tool-delete"></span>
						</button>
					
					</li>
	
				</ul>
			</div>
			
		  </div>

		  
	</div>
	
</div>

<div class="row">
	
	<div class="col-lg-1">
		
	<!-- disabled panel and navigation panels in dev release 0.0.1 - to be re-enabled
		<div id="panel-control" class="panel panel-primary">
  		  <div class="panel-heading">
   			<h3 id="panels-header" class="panel-title">
				<a data-toggle="collapse" data-parent="#panels">Panels</a>
			</h3>
		  </div>
		  
			  <button type="button">Hide All</button>
			  <button type="button">Show All</button>
			  <button type="button">Default</button> 
			  
		  </div>
		
			
  		<div id="navigation-control" class="panel panel-primary">
    		  <div class="panel-heading">
     			<h3 id="panels-header" class="panel-title">
  				<a data-toggle="collapse" data-parent="#panels">Navigator</a>
  			</h3>
  		  </div>
		  
  			Navigation
			  
  		  </div>
		    
		-->
			
	</div>
	
	<div class="col-lg-5">
		<div  id="drawingarea" style="border:1px solid red; height:{{image.dimension.1}}px;width:{{image.dimension.0}}px;">
			
			<div id="drawingpanel" class="fabric" style="position:absolute;border:1px solid green;top:0px;height:{{image.dimension.1}}px;width:{{image.dimension.0}}px;">
				<canvas id="drawingcanvas" height={{image.dimension.1}} width={{image.dimension.0}}  style=";"></canvas>
			</div>
 	       
		   	
			<div id="zoomviewer" class="" style="position:absolute;border:1px solid blue;top:0px;height:{{image.dimension.1}}px;width:{{image.dimension.0}}px;">
			</div>
			
			<div id="imagepanel" class="" style="position:absolute;border:1px solid green;top:0px;height:{{image.dimension.1}}px;width:{{image.dimension.0}}px;">
				 <img src={{image.url}} alt="img" />
			</div>
			
		</div>
	   	<a href="{% url 'queries:detail_view' %}?imageId={{image.Id}}"><button type="button" id="detail_view_link" class="btn btn-primary">Navigate to detail view</button></a>
	</div>

	<div class="col-lg-3">
		<div id="ontology-panel" class="panel panel-primary" style="z-index:1000;">
  		  
		  <div class="panel-heading">
   				<h3 id="ontology-header" class="panel-title">
					<a data-toggle="collapse" data-parent="#toolbox">Ontologies & Freetext</a>
				</h3>
		  </div>
			   		<div id="tab-panel" role="tabpanel">

			   		  <!-- Nav tabs -->
			   		  <ul class="nav nav-tabs" role="tablist">
			   		    <li role="presentation" class="active"><a href="#standard" aria-controls="home" role="tab" data-toggle="tab">Standard</a></li>
			   		    <li role="presentation"><a href="#controlled" aria-controls="rois" role="tab" data-toggle="tab">Controlled</a></li>
						
			   		  </ul>
				  </div>
				  
			   		  <!-- Tab panes -->
			   		  <div class="tab-content">
			   		    <div role="tabpanel" class="tab-pane active" id="standard">
						
							<h3 id="" class="panel-title" style="margin-top: 10px;padding: 0px;">
								<a data-toggle="collapse" data-parent="#accordion" href="#standard" >Standard</a>
							</h3>
		
							<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
							</div>
						
							<select id="ontology-input" name="ontologies" value="Select All" class="select-block ontology-input" multiple="multiple" style="width: 75%; height=10"> 
								
							</select>
						
							<button type="button" id="clear-ontology-button" class="btn btn-primary">Clear</button>
						
							<div id="tree-wrapper" style="overflow:auto;height: 500px; border-style: solid; border-color:#1ABC9C #1ABC9C;">
								<div id="tree-holder">
									<div id="ontologies-div">
									</div>
								</div>
							</div>
						
						</div>
			   		    <div role="tabpanel" class="tab-pane" id="controlled">
							
							<h3 id="" class="panel-title" style="margin-top: 10px;padding: 0px;">
								<a data-toggle="collapse" data-parent="#accordion" href="#controlled" >Controlled Vocabulary</a>
							</h3>
							<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
							</div>
							
						</div>
			   		  </div>

			   		</div>
		  </div>
		  
	  	<div class="col-lg-3">
	  		<div id="metadata" class="panel panel-primary">
	    		  <div class="panel-heading">
	     				<h3 id="toolbox-header" class="panel-title">
	  							<a data-toggle="collapse" data-parent="#toolbox">Metadata</a>
	  				 	</h3>
	  		  	  </div>
  			  		
  			   		<div id="tab-panel" role="tabpanel">

  			   		  <!-- Nav tabs -->
  			   		  <ul class="nav nav-tabs" role="tablist">
  			   		    <li role="presentation" class="active"><a href="#rois" aria-controls="rois" role="tab" data-toggle="tab">ROIs</a></li>
  			   		    <li role="presentation"><a href="#texts" aria-controls="texts" role="tab" data-toggle="tab">Annotations</a></li>
		   		    	<li role="presentation"><a href="#image_info" aria-controls="image_info" role="tab" data-toggle="tab">Image info</a></li>
					  </ul>
  				  </div>
				  
		   		  <div class="tab-content">
				   		    <div role="tabpanel" class="tab-pane active" id="rois">
				  
				  		   	<h3 id="" class="panel-title">
				  				<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms">Regions of Interest</a>
				  			</h3>
		
				  			<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
				  			</div>
			
				  			<div id="roitablediv" width="100%">
					  			 <table id="roitable" class="display compact responsive nowrap" cellspacing="0" width="100%" style="font-size:10px">
					  	          <thead>
					  	            <tr>
					  				  <th></th>
					  				  <th>Annotations</th>
					  				  <th>Channels</th>
					  	              <th>Curator</th>
					  				  <th>Created</th>
					  				  <th class="none">Updated</th>	
					  				  <th>Modify</th>		
					  	            </tr>
					  	          </thead>
          
					  			  <tbody>
					  	          </tbody>
					  			  <tr>
					  			  </tr>
								</table>
				  			</div>
						 </div>
			
				   	 	 <div role="tabpanel" class="tab-pane" id="texts">
			  	  		 	   <h3 id="" class="panel-title">
				  					<a data-toggle="collapse" data-parent="#accordion" href="#texts">Textual Annotations</a>
				  				</h3>
	
				  				<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
				  				</div>
								
					  			<div id="roitablediv" width="100%">
						  			 <table id="texts_table" class="display compact responsive nowrap" cellspacing="0" width="100%" style="font-size:10px">
						  	          <thead>
						  	            <tr>
						  				  <th></th>
						  				  <th>Annotations</th>
						  				  <th>Channels</th>
						  	              <th>Curator</th>
						  				  <th>Created</th>
						  				  <th class="none">Updated</th>	
						  				  <th>Modify</th>		
						  	            </tr>
						  	          </thead>
          
						  			  <tbody>
						  	          </tbody>
						  			  <tr>
						  			  </tr>
									</table>
					  			</div>
								
							</div>
			
				   	  	<div role="tabpanel" class="tab-pane" id="image_info">
			  	  		   	<h3 id="" class="panel-title">
				  				<a data-toggle="collapse" data-parent="#accordion" href="#image_info">Image metainfo</a>
				  			</h3>
			    
				  			<div class="panel panel-primary" style="margin-bottom: 0px;padding: 0px;">
				  			</div>
						</div>
			</div>
		  
		</div>
	  </div>
	</div>	
		
</div>

<!--
<div class="row">
	
	<div class="col-lg-1">
	</div>
	
	
	<div class="col-lg-9">
		<div id="similar_images_container" class="">
			<div id="similar_images" class="owl-carousel" style="border:1px solid green; height:100px;width:1000px">
			</div>		
		</div>  
	</div>
	
</div>

<div class="row">
	<div class="col-lg-9">
			<div id="similar_images2" class="carousel" style="border:1px solid green; height:100px;width:1000px">
				
			</div>		 
	</div>
</div>
	-->
<div id="qtip-growl-container"></div>
	
</body>

<style>

span.annotation {
    float: left;
    width: 32px;
    height: 30px;
	padding-left:0px;
	padding-right:0px;
}
.btn span.tool-drawer {
    background: url({% static 'queries/img/black124.png' %}) no-repeat left center;
}
.btn span.tool-selector {
    background: url({% static 'queries/img/selection7.png' %}) no-repeat left center;
 }
.btn span.tool-viewport-drag {
    background: url({% static 'queries/img/four9.png' %}) no-repeat left center;
  }
.btn span.tool-rectangle {
    background: url({% static 'queries/img/chat58.png' %}) no-repeat center;
  }
.btn span.tool-point {
    background: url({% static 'queries/img/Location_pin_24.png' %}) no-repeat center;
  }
.btn span.tool-polyline{
	    background: url({% static 'queries/img/polygonal75.png' %}) no-repeat left center;
  }
.btn span.tool-undo {
	    background: url({% static 'queries/img/undo8.png' %}) no-repeat center;
  }
.btn span.tool-redo {
   background: url({% static 'queries/img/redo10.png' %}) no-repeat left center;
 }	  
.btn span.tool-save {
		    background: url({% static 'queries/img/save31.png' %}) no-repeat center;
  }
  .btn span.tool-edit {
  	   background: url({% static 'queries/img/edit26.png' %}) no-repeat center;
  }
.btn span.tool-delete {
	   background: url({% static 'queries/img/delete96.png' %}) no-repeat center;
}
.btn span.tool-copy {
	   background: url({% static 'queries/img/copy9.png' %}) no-repeat left center;
}
.btn span.tool-cut {
	    background: url({% static 'queries/img/cutting.png' %}) no-repeat left center;
  }
.btn span.tool-paste {
   background: url({% static 'queries/img/paste2.png' %}) no-repeat left center;
 }	
 
 body{
     padding: 5px;
 }

#qtip-growl-container{
     position: fixed;
     top: 10px; right: 10px;
}
#qtip-growl-container .qtip{
         position: static;
         min-height: 0;
         overflow: hidden;
         margin: 0 0 5px 0;
}
 
#similar_images .item{
  margin: 2px;
}
#similar_images .item img{
  display: block;
  width: 100%;
  height: auto;
}

.slick-prev:before, .slick-next:before { 
    color:red !important;
}

</style>
	
<script>

var navigationImages = "{% static 'annotation/images/openseadragon/' %}";
var dziName = "{{image.dziName | safe}}";
var imageURL= "{{image.url | safe}}"; //"{% static 'utils/images/sources/M00042804_00006962_download_tn_large.jpg' %}";
var imageDimensions = JSON.parse("{{image.dimension | safe}}");
var roiData = JSON.parse('{{roiData | safe}}');
var imageId = roiData[0].associated_image;
var swfURL = "{% static 'queries/swf/copy_csv_xls_pdf.swf' %}";

var tileSource = {
    Image: {
        xmlns: "http://schemas.microsoft.com/deepzoom/2008",
        Url: "http://openseadragon.github.io/example-images/highsmith/highsmith_files/",
        Format: "jpg",
        Overlap: "2",
        TileSize: "256",
        Size: {
            Height: "9221",
            Width:  "7026"
        }
    }
};

var viewer =  OpenSeadragon({
    id:            "zoomviewer",
    prefixUrl:     navigationImages,
    tileSources: [{
        tileSource: "{% static 'utils/images/dzifiles/' %}" + dziName,
        width: 2,
        y: 0.5,
        x: 0.5
    }],
});

$(document).ready(
	
	function() {

	var annotationTool = viewer.annotationTool({
		"navigator": "navigator",
		"toolbox":"toolbox",
		"viewer": viewer,
		"toggler":"tool-mode",
		//"annotation_url" : "http://aberlour.hgu.mrc.ac.uk:9090/ISS",
		"annotation_url" : "http://lxbisel.macs.hw.ac.uk:8080/ISS/Annotation?",
		"image_url" : imageURL,
		"imageId": imageId,
		"rois" : roiData,
		"dimensions": imageDimensions
	});
	

	//initialise toolbox from annotation tool.
	var toolbox = annotationTool.toolbox({
		rect:"rectangle-button",
		circle:"circle-button",
		line:"polyline-button",
		free:"free-button",
		save:"save-button",
		edit:"edit-button",
		"delete": "delete-button"
	});
	
	var ontologies = annotationTool.ontologies({
		main: "ontologies-panel",
		tabs: "tabs-panel",
		ontology_input: "ontology-input",
		load_ontology_button:"load-ontology-button",
		clear_ontology_button:"clear-ontology-button",
		tree_wrapper:"tree-wrapper",
		tree_holder:"tree-holder",
		ontologies_div:"ontologies-div",
		//add_ontology_term:"add-ontology-term",
		local_data: false
	});

	var metadata = annotationTool.metadata({
		roi_table_id: "roitable",
		panel_id: "metadata",
		add_button_id: "",
		roi_data: roiData,
	});
	
	console.log(metadata);
	
   annotationTool.triggerEvent('toggleButton','switchChange.bootstrapSwitch');
   annotationTool.triggerEvent('rectangle-button','click');
   annotationTool.createGraphicalObjects(roiData);
   
   //set default mode to viewing mode
   annotationTool.tearDownCanvasEventtHandlers();
   //console.log(annotationTool.toolbox().disableDrawingMode(false));
   
	var data = {"version":"100", "num":10};
   	var url  = "{% url 'queries:getImages' %}";

	console.log(url);

	var iqs_request = jQuery.ajax({
		  						method: "GET",
	  							url: url,
		  						data: data,
								//crossdomain: true,
								dataType:'json',
								//traditional:true
							});

	var iqs_response =  iqs_request.done(function( response ) {
		var docs = response.response.docs;
		
		for (doc in docs){
			console.log(docs[doc].image_url);
			if(docs[doc].image_url != undefined)
				$("#similar_images").append($('<div/>').attr('class','item').append($('<img/>').attr('src',docs[doc].image_url).attr('style','width:100%;')));
			$("#similar_images2").append($('<div/>').attr('class','item').append($('<img/>').attr('src',docs[doc].image_url).attr('style','width:100%;')));
			
			console.log($('<img/>').attr('src',docs[doc].image_url).attr('class', 'item'));
		}
		
		//"<a href="+encodeURI(detail_url)+" data-toggle=\"tooltip\" title="+ id +">";
		
		//start similar images plugin
		/*
		$("#similar_images").owlCarousel({
  		  autoPlay: 3000, //Set AutoPlay to 3 seconds
      	  items : 6,
		  lazyLoad : true,
      	  itemsDesktop : [1199,6],
      	  itemsDesktopSmall : [979,4],
		  navigation : true
		}
		);
		*/
		
		console.log($("#similar_images"));
		$('.carousel').slick({
			infinite: true,
			slidesToShow: 3,
			slidesToScroll: 3
		});
	});

	iqs_request.fail(function( jqXHR, textStatus ) {
	  console.log(textStatus );
	  return false;
  });
	
  
  
});

//defintion of response alerts to user
var styles_map = {"success":"qtip-green","fail":"qtip-red", "none":""};
var titles_map = {"success":"Success","fail":"Failure", "none": "Success"};

window.createAlert = function(response) {
 var target = jQuery('.qtip.jgrowl:visible:last');
 
   jQuery('<div/>').qtip({
       content: {
           text:  "<b>Message:</b>" + response.message + "<br/><b>Annotation:</b> " + response.annotationId,
           title: {
               text: titles_map[response.status] + '!' + "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&"+
			   "nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&"+
			   "nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" +response.time + "",
               button: true
           }
       },
       position: {
           target: [0,0],
           container: jQuery('#qtip-growl-container')
       },
       show: {
           event: false,
           ready: true,
           effect: function() {
               jQuery(this).stop(0, 1).animate({ height: 'toggle' }, 400, 'swing');
           },
           delay: 0,
           persistent: undefined
       },
       hide: {
           event: false,
           effect: function(api) {
               jQuery(this).stop(0, 1).animate({ height: 'toggle' }, 400, 'swing');
           }
       },
       style: {
           width: 250,
           classes: 'jgrowl ' + styles_map[response.status],
           tip: false
       },
       events: {
           render: function(event, api) {
               if(!api.options.show.persistent) {
                   jQuery(self).bind('mouseover mouseout', function(e) {
                       var lifespan = 5000;

                       clearTimeout(api.timer);
                       if (e.type !== 'mouseover') {
                           api.timer = setTimeout(function() { api.hide(e) }, lifespan);
                       }
                   })
                   .triggerHandler('mouseout');
               }
           }
       }
   });
   
   
}

</script>
  
</html>