{% extends "phis/generic.html" %}
{% load staticfiles %}

  <head>
	  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
 	
     <title>{% block title %}PhenoImageShare: Queries : Annotation View {% endblock title %}</title>
   
	<!-- Annotation-specific styles-->
	{% block styles %}
		{{block.super}}
		{% include "annotation/html/components/annotation_styles.html" %}
	{% endblock styles %}
	
	<!-- Annotation-specific JS-->
    {% block javascripts %}
		{{block.super}}
		{% include "annotation/html/components/annotation_scripts.html" %}
	{% endblock javascripts %}
	
 </head>
	  
	  	{% block content %}

		<!-- Site header-->
		{% block header %}
			{% include "phis/generic_header.html" %}
		{% endblock header %}

	<!--	
<div class="container">
-->
			<br/>
			<br/>
      <!-- "Annotation tool options panel and canvas"
      ================================================== -->
		{% block top %}
			
 		{% endblock top %}
		
        <div class="row">
			
			<div class="col-lg-1">
			  {% block first %}
				 
				  {% include "annotation/html/components/tools_panel.html" %}
			  {% endblock first %}
			</div>
			
			<div class="col-lg-7">
				  {% block second %}
					  {% include "annotation/html/components/image_canvas.html" %}
				  {% endblock second %}
			</div>
			
			<div class="col-lg-3 col-sm-pull-1">
				{% block third %}
					{% include "annotation/html/components/metadata_panel.html" %}
				{% endblock third %}
			</div>

						  
		</div>
        
		<!-- Site Logos-->
		{% block logos %}
			{% include "phis/logos.html" %}
		{% endblock logos %}
					
<!--</div>-->
	
	{% endblock content %}
	
	 <!-- Site footer-->
	{% block footer %}
  	  	{% include "phis/generic_footer.html" %}
	{% endblock footer %}