{% extends "phis/generic.html" %}
{% load staticfiles %}

  <head>
	  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
 	
     <title>{% block title %}PhenoImageShare: Queries : Detailed View {% endblock title %}</title>
   
	<!-- Detailed-specific styles-->
	{% block styles %}
		{{block.super}}
		{% include "queries/html/components/detailed_styles.html" %}
	{% endblock styles %}
	
	<!-- Detailed-specific JS-->
    {% block javascripts %}
		{{block.super}}
		{% include "queries/html/components/detailed_scripts.html" %}
	{% endblock javascripts %}
	
 </head>
	  
	  {% block content %}

		<!-- Site header-->
		{% block header %}
			{% include "phis/generic_header.html" %}
		{% endblock header %}

	<!--Temporarily disable inner container>	-->
    <div class="container">

			
      <!-- Detailed Image Display Canvass
      ================================================== -->
		{% for image in image_data %}

 		{% block top %}
			{% include "queries/html/components/detailed_top.html" %}
 		{% endblock top %}
		
      		        <div class="row">
					
					  <div class="col-lg-3 col-lg-pull-1">
						  
						<div class="row">
							<div class="panel-group" id="accordion">
								<div class="panel panel-primary">
	                 	   
						    <div class="panel-heading">
	                    	   	<h3 id="anatomytermsID" class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms"> Anatomy terms</a>
								</h3>
	                  	 	</div>
							
							<div id="anatomyterms" class="panel-collapse collapse in">
								
								<ul class="list-group">
								  <li href="#" class="list-group-item">
 									  {{forloop.counter}}:
 				                 	 <span class="badge"> {{image.anatomy_term}}</span>
								 </li>
								 
								 
								</ul>
								
							</div>
							
							</div>
						  </div>
					  </div>
  						
						<div class="row">
						<div class="panel-group" id="accordion">
							<div class="panel panel-primary">
                 	   
					    <div class="panel-heading">
                    	   	<h3 id="phenotypetermsID" class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#phenotypeterms"> Phenotype terms</a>
							</h3>
                  	 	</div>
						
						<div id="phenotypeterms" class="panel-collapse collapse in">
  					
						<ul class="list-group">
						{% for term in image.phenotype_ann_bag %}
  								  <li href="#" class="list-group-item">
									   {{forloop.counter}}:
				                 	 <span class="badge">{{term}}</span>
									
								 </li>
				                	
						{% endfor %}
						</ul>	
  							</div>
							
  							</div>
  						  </div>
  					  </div>
						  
							<div class="row">
							<div class="panel-group" id="accordion">
								<div class="panel panel-primary">
                 	   
						    <div class="panel-heading">
	                    	   	<h3 id="assainfoID" class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#assayinfo"> Assay Information</a>
								</h3>
	                  	 	</div>
						
							<div id="assayinfo" class="panel-collapse collapse out">
								
								<ul class="list-group">
								   <li class="list-group-item">
								    <span class="badge">{{image.source}}</span>
								    Source:
								  </li>
								  <li class="list-group-item">
								    <span class="badge">{{image.id}}</span>
								    Image ID:
								  </li>
								  
								  <li class="list-group-item">
								    <span class="badge">{{image.sample_preparation.0}}</span>
								    Preparation: 
								  </li>
								  
								  <li class="list-group-item">
								    <span class="badge">{{image.sample_generated_by.0}}</span>
								    Generated By: 
								  </li>
								  
								  <li class="list-group-item">
								    <span class="badge">{{image.imaging_method_label.0}}</span>
								    Imaging Method: 
								  </li>
								  
								</ul>
								
  							</div>
							
  							</div>
  						  </div>
  					  </div>
							  
								<div class="row">
								<div class="panel-group" id="accordion">
									<div class="panel panel-primary">
                 	   
							    <div class="panel-heading">
		                    	   	<h3 id="experimentinfoID" class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#experimentinfo">Experiment Information</a>
									</h3>
		                  	 	</div>
						
								<div id="experimentinfo" class="panel-collapse collapse out">
									
								<ul class="list-group">
								  <li class="list-group-item">
								    <span class="badge">{{image.sex}}</span>
								    Sex:
								  </li>
								  <li class="list-group-item">
								    <span class="badge">{{image.embrionic_age}}</span>
								    Embrionic Age:
								  </li>
								  
								  <li class="list-group-item">
								    <span class="badge">{{image.age_since_birth}}</span>
								    Age (since birth):
								  </li>
								  
								  <li class="list-group-item">
								    <span class="badge">{{image.stage}}</span>
								    Stage:
								  </li>
								  
								  <li class="list-group-item">
								    <span class="badge">{{image.gene.0}}</span>
								    Gene:
								  </li>
								  
								  <li class="list-group-item">
								    <span class="badge">{{image.organism}}</span>
								    Organism:
								  </li>
								  
								</ul>
												
			    				</div>
							
			    				</div>
			   				  </div>
		 					  </div>
							  
							  
								<div class="row">
								<div class="panel-group" id="accordion">
									<div class="panel panel-primary">
                 	   
							    <div class="panel-heading">
		                    	   	<h3 id="experimentinfoID" class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#observationsinfo">Observations</a>
									</h3>
		                  	 	</div>
						
								<div id="observationsinfo" class="panel-collapse collapse out">
									
								<ul class="list-group">
								  <li class="list-group-item">
								    <span class="badge">{{image.observations.0}}</span>
								   
								  </li>
								</ul>
												
			    				</div>
							
			    				</div>
			   				  </div>
		 					  </div>
							  
							  
						</div>
						
			          <div class="col-lg-6 col-lg-pull-1">

						  <div class="panel panel-primary">
		  	                 	    
							<div class="panel-heading">
		  	              	   	<h3 id="tableTitle" class="panel-title">PhIS ID: {{image.id}}</h3>
		  	                 </div>
									
						  </div>
						  
                 			  <a href="{{image.url}}" title="{{image.organism}}" class="lightbox"><img src="{{image.url}}" width="800" height="600" alt="Single Image"/></a>
							  <a href="javascript: void(0)"><button type="button" id="highResButton" class="btn btn-primary">High Resolution View</button></a>
							  <a href="javascript: void(0)"><button type="button" id="zoomableViewButton" class="btn btn-primary disabled">Zoomable View</button></a>
							  <a href="javascript: void(0)"><button type="button" id="drawingToolButton" class="btn btn-primary">Annotation Tool</button></a>
				  	  </div>
					  
				    <!-- Hidding the Annotation tool compoent on the Detailed View.
					  <div class="col-lg-3">
  	  						<div class="row">
  	  							
  	  						</div>
								
					  </div>
		  	  		-->
						  
						  <div class="col-lg-3 col-lg-push-2 col-lg-offset-0">
							  
							  <div class="panel panel-primary">  
								<div class="panel-heading">
			  	              	   	<h3 id="tableTitle" class="panel-title">Annotations</h3>
			  	                 </div>
									
							  </div>
						
						  <div class="bs-component">
							  
			                <ul class="nav nav-pills" style="margin-bottom: 15px;">
			                  <li class="active"><a href="#roiTab" data-toggle="tab">ROIs</a></li>
			                  <li><a href="#annotationTab" data-toggle="tab">Annotations</a></li>
			                </ul>
			                <div id="myTabContent" class="tab-content">
			                  <div class="tab-pane fade active in" id="roiTab">
								  
  								<div class="panel-group" id="roi_accordion">
	  								<div class="panel panel-primary">
	  							    <div class="panel-heading">
	  		                    	   	<h3 id="experimentinfoID" class="panel-title">
	  										<a data-toggle="collapse" data-parent="#roi_accordion" href="#roi1">komp2_roi_70394_0</a>
	  									</h3>
	  		                  	 	</div>
						
	  								<div id="roi1" class="panel-collapse collapse out">
									
	  								<ul class="list-group">
										 <li class="list-group-item">
												 <h6> Anatomy: <input type="checkbox" id="enable_annotation" style="width: 5px;" data-toggle="switch"/> </h6>
		 								 </li>
										 
										<li class="list-group-item">
	  								     <span class="badge">eye</span>
										1.
	  								  </li>
	  								</ul>
	  								
									<ul class="list-group">
										 <li class="list-group-item">
												 <h6> Phenotype: <input type="checkbox" id="enable_annotation" style="width: 5px;" data-toggle="switch"/> </h6>
		 								 </li>
										 
	  								  <li class="list-group-item">
	  								    <span class="badge">corneal opacity</span>
										1.
	  								  </li>
									  
	  								  <li class="list-group-item">
	  								    <span class="badge">hard cataracts</span>
										2.
	  								  </li>
									  
	  								</ul>
										
												
	  			    				</div>
							
	  			    				</div>
								
  								<div class="panel panel-primary">
  							    <div class="panel-heading">
  		                    	   	<h3 id="experimentinfoID" class="panel-title">
  										<a data-toggle="collapse" data-parent="#roi_accordion" href="#roi2">komp2_roi_74240_0</a>
  									</h3>
  		                  	 	</div>
					
  								<div id="roi2" class="panel-collapse collapse out">
								
  								<ul class="list-group">
									 <li class="list-group-item">
											 <h6> Anatomy: <input type="checkbox" id="enable_annotation" style="width: 5px;" data-toggle="switch"/> </h6>
	 								 </li>
									 
									<li class="list-group-item">
  								     <span class="badge">eye</span>
									1.
  								  </li>
  								</ul>
  								
								<ul class="list-group">
									 <li class="list-group-item">
											 <h6> Phenotype: <input type="checkbox" id="enable_annotation" style="width: 5px;" data-toggle="switch"/> </h6>
	 								 </li>
									 
  								  <li class="list-group-item">
  								    <span class="badge">corneal opacity</span>
									1.
  								  </li>
								  
  								  <li class="list-group-item">
  								    <span class="badge">hard cataracts</span>
									2.
  								  </li>
								  
  								</ul>
								
								</div>
								</div>
															
  			   				  </div>
							  
			                  </div>
			                  <div class="tab-pane fade" id="annotationTab">
   								<div class="panel-group" id="ann_accordion">
 	  								<div class="panel panel-primary">
 	  							    <div class="panel-heading">
 	  		                    	   	<h3 id="experimentinfoID" class="panel-title">
 	  										<a data-toggle="collapse" data-parent="#ann_accordion" href="#ann1">Anatomy (by Users)</a>
 	  									</h3>
 	  		                  	 	</div>
						
 	  								<div id="ann1" class="panel-collapse collapse out">
									
 	  								<ul class="list-group">
   									 
									 <li class="list-group-item">
   											 <h6>Abel: <input type="checkbox" id="enable_annotation" style="width: 5px;" data-toggle="switch"/> </h6>
   	 								 </li>
									 
 	  								  <li class="list-group-item">
 	  								    <span class="badge">MA:0000261</span>
 										ID:
 	  								  </li>
									  
 	  								  <li class="list-group-item">
 	  								    <span class="badge">eye</span>
 										Term:
 	  								  </li>
									  
									  <li class="list-group-item">
								  		<span class="badge">eye</span>
										Descr:
									  </li>
									  
									  
									  <li class="list-group-item">
								  		<span class="badge">komp2_roi_70394_0</span>
										Assoc. ROI:
									  </li>
									  
  	  								  <li class="list-group-item">
  	  								    <span class="badge">Freetext</span>
  										Freetext.
  	  								  </li>
									  
									  
 									 	<li class="list-group-item">
    											 <h6>Salmond: <input type="checkbox" id="enable_annotation" style="width: 5px;" data-toggle="switch"/> </h6>
    	 								 </li>
									 
  	  								  <li class="list-group-item">
  	  								    <span class="badge">MA:0000261</span>
  										ID:
  	  								  </li>
									  
  	  								  <li class="list-group-item">
  	  								    <span class="badge">eye</span>
  										Term:
  	  								  </li>
									  
  	  								  <li class="list-group-item">
  	  								    <span class="badge">eye</span>
  										Descr:
  	  								  </li>
									  
  	  								  <li class="list-group-item">
  	  								    <span class="badge">Freetext</span>
  										Freetext:
  	  								  </li>
									  
									  <li class="list-group-item">
								  		<span class="badge">komp2_roi_74240_0</span>
										Assoc. ROI:
									  </li>
									  
 	  								</ul>
												
												
 	  			    				</div>
							
 	  			    				</div>
								
   								<div class="panel panel-primary">
   							    <div class="panel-heading">
   		                    	   	<h3 id="experimentinfoID" class="panel-title">
   										<a data-toggle="collapse" data-parent="#ann_accordion" href="#ann2">Phenotype (by Users)</a>
   									</h3>
   		                  	 	</div>
					
   								<div id="ann2" class="panel-collapse collapse out">
								
 	  								<ul class="list-group">
   									 
									 <li class="list-group-item">
   											 <h6> Maurice: <input type="checkbox" id="enable_annotation" style="width: 5px;" data-toggle="switch"/> </h6>
   	 								 </li>
									 
 	  								  <li class="list-group-item">
 	  								    <span class="badge">MP:0010254</span>
 										ID. 
 	  								  </li>
									  
 	  								  <li class="list-group-item">
 	  								    <span class="badge">hard cataracts</span>
 										Term.
 	  								  </li>
									  
									  <li class="list-group-item">
								  		<span class="badge">hard cataracts</span>
										Descr.
									  </li>
									  
  	  								  <li class="list-group-item">
  	  								    <span class="badge">Freetext</span>
  										Freetext.
  	  								  </li>
									  
									  
 									 	<li class="list-group-item">
    											 <h6>Lamont: <input type="checkbox" id="enable_annotation" style="width: 5px;" data-toggle="switch"/> </h6>
    	 								 </li>
									 
  	  								  <li class="list-group-item">
  	  								    <span class="badge">MP:0010254</span>
  										ID. 
  	  								  </li>
									  
  	  								  <li class="list-group-item">
  	  								    <span class="badge">cataracts</span>
  										Term.
  	  								  </li>
									  
  	  								  <li class="list-group-item">
  	  								    <span class="badge">cataracts</span>
  										Descr.
  	  								  </li>
									  
  	  								  <li class="list-group-item">
  	  								    <span class="badge">Freetext</span>
  										Freetext.
  	  								  </li>
									  
 	  								</ul>
   									
									
 								</div>
 								</div>
															
   			   				  </div>
							  
			                  </div>
			                </div>
			              </div>
			              </div>
						  
					</div>
        
					{% endfor %}

		<!-- Site Logos-->
		{% block logos %}
			{% include "phis/logos.html" %}
		{% endblock logos %}
	
					
    </div>
	
	<!--End of temporarily disabled inner container>	-->
	{% endblock content %}
	
	 <!-- Site footer-->
	{% block footer %}
  	  	{% include "phis/generic_footer.html" %}
	{% endblock footer %}