{% extends "phis/generic.html" %}
{% load staticfiles %}

  <head>
	  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
 	
     <title>{% block title %}PhenoImageShare: Queries : Detailed View {% endblock title %}</title>
   
	<!-- Detailed-specific styles-->
	{% block styles %}
		{{block.super}}
		{% include "queries/html/components/detailed_styles.html" %}
	{% endblock styles %}
	
	<!-- Detailed-specific JS-->
    {% block javascripts %}
		{{block.super}}
		{% include "queries/html/components/detailed_scripts.html" %}
	{% endblock javascripts %}
	
 </head>
	  
	  	{% block content %}

		<!-- Site header-->
		{% block header %}
			{% include "phis/generic_header.html" %}
		{% endblock header %}

		
<div class="container">

			
      <!-- Detailed Image Display Canvass
      ================================================== -->
		{% for image in image_data %}

 		{% block top %}
			{% include "queries/html/components/detailed_top.html" %}
 		{% endblock top %}
		
        <div class="row">
		
			  <div class="col-lg-3 col-lg-pull-1">
				  {% block first %}
						{% include "queries/html/components/detailed/left/anatomical_terms.html" %}
						{% include "queries/html/components/detailed/left/phenotype_terms.html" %}
						{% include "queries/html/components/detailed/left/assay_information.html" %}
						{% include "queries/html/components/detailed/left/experiment_information.html" %}
						{% include "queries/html/components/detailed/left/observations.html" %}
					{% endblock first %}
				</div>
						
				<div class="col-lg-6 col-lg-pull-1">
					{% block second %}
						{% include "queries/html/components/detailed/central/image_canvas.html" %}
					{% endblock second %}
				</div>
					  				  
				<div class="col-lg-3 col-lg-push-2 col-lg-offset-0">
					{% block third %}
						{% include "queries/html/components/detailed/right/annotations_rois.html" %}
					{% endblock third %}
				</div>
						  
		</div>
        
		{% endfor %}

		<!-- Site Logos-->
		{% block logos %}
			{% include "phis/logos.html" %}
		{% endblock logos %}
	
					
</div>
	
	{% endblock content %}
	
	 <!-- Site footer-->
	{% block footer %}
  	  	{% include "phis/generic_footer.html" %}
	{% endblock footer %}