{% extends "phis/generic.html" %}
  <head>
     <title>{% block title %}PhenoImageShare: Queries {% endblock title %}</title>
   
	<!-- Search-specific styles-->
	{% block styles %}
		{{block.super}}
		{% include "queries/html/components/search_styles.html" %}
	{% endblock styles %}
	
	<!-- Search-specific JS-->
    {% block javascripts %}
		{{block.super}}
		{% include "queries/html/components/search_scripts.html" %}
	{% endblock javascripts %}
	
  </head>
 
 {% block content %}
 
	 {% block header %}
		{{block.super}}
	 {% endblock header %}

    <div class="container">
			
			<div class="row">
				
				<div class="page-header" id="banner">
	  
					  <!--
					  <div class="row">
				        <h2>PhIS Search</h2>
				      </div>
				      <div class="col-lg-6">
				      </div>
					  -->
		  
				</div>
				
				<div class="col-lg-3">
  				  {% block first %}
  	  			  	{% include "queries/html/components/query/left/facets_panel.html" %}
    	 		  {% endblock first %}
					
				</div>
				
				<div class="col-lg-9">

					{% block top %}
						{% include "queries/html/components/search_fields.html" %}
					{% endblock top %}
					
			      <!-- Query Results================================================== -->
				  {% block second %}
					  {% include "queries/html/components/search_results.html" %}
				  {% endblock second %}
	  
	  
				  {% block third %}
				  {% endblock third %}
				  
				</div>
				
			</div>
			
	  <!-- Load the logos from the generic view-->
	  {% block logos %}
			{{block.super}}
	  {% endblock logos %}
		
		
    </div><!-- Container ending-->
	 
	  
	  {% endblock content %}
	  
	  <!-- Load the footer from the generic view-->
	  {% block footer %}
	  	{{block.super}}
	  {% endblock footer %}