  <div class="container"> 
	  <div class="navbar navbar-default navbar-fixed-top">
	   <div class="navbar-header">
      <a id="phISMenuItem" href="{% url 'index' %}" class="navbar-brand">PhenoImageShare</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
      	<li>
          <a id="searchMenuItem" href="{% url 'queries:query_view' %}">Search</a>
        </li>

		<li>
          <a id="submissionMenuItem" href="#">Submission</a>
        </li>

        <li class="dropdown">
          <!--<a href="{% url 'documentation:index' %}" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>-->
		  <a href="{% url 'documentation:index' %}">Documentation</b></a>
          <span class="dropdown-arrow"></span>

        </li>
				
		<li>
          <a id="aboutpage" href="{% url 'documentation:about' %}">About</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li data-toggle="tooltip" data-placement="bottom" title="Register for an account"><a id="registerButton" href="#" target="_blank">Register</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a id="loginButton" href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Login with your account">Login</a></li>
      </ul>

    </div>
  </div>
</div>