  <div class="container"> 
	  <div class="navbar navbar-default navbar-fixed-top">
	   <div class="navbar-header">
      <a id="phISMenuItem" href="{% url 'index' %}" class="navbar-brand">PhenoImageShare</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
      <!-- 
	  	<li>
          <a id="searchMenuItem" href="{% url 'queries:query_view' %}">Search</a>
        </li>
	  -->
	
        <li class="dropdown">
          <!--<a href="{% url 'documentation:index' %}" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>-->
		  <a href="{% url 'documentation:index' %}">Documentation</b></a>
          <span class="dropdown-arrow"></span>

        </li>
				
		<li>
          <a id="aboutpage" href="{% url 'documentation:about' %}">About</a>
        </li>
		
		<li>
         <a id="news" href="{% url 'documentation:news' %}" >News</a>
        </li>
		
      </ul>

	  {% if not page %}

		<div class="input-group" id="autosuggestdiv" style="margin-top:10px; left:150px; width:40%; margin-bottom:0px;">
		  <!--<span class="input-group-addon">Enter freetext:</span>
		  <input type="text" id="searchInput" onkeydown=autosuggest() class="form-control col-lg-8 autosuggest" value="{{query}}" placeholder="e.g. corneal opacity">-->
		  <input type="text" id="searchInput" class="form-control col-lg-8" value="{{query.term}}" placeholder="search..." style="background-color:#34495E;border-radius: 4px; color: #ffffff;">
		  	 <span class="input-group-btn">
		    	  <button type="button" id="searchButton" class="btn btn-lg-phis-search glyphicon glyphicon-search" onClick=searchClickEventHandler()></button>
		 	 </span>
		</div>

		<div class="input-group" style="margin-top:0px; left:150px; font-size: 10px; color:#ffffff;">
			 Examples: 
	
			<a id="index_query1" href="{{source_url}}/search/?term=cornea ulcer" style="text-decoration: underline;">cornea ulcer</a>, &nbsp
			<div class="tooltiptext" style="display:none">
				Search for specific phenotype - <i><b>cornea ulcer</b></i>.
			</div>
	
			<a id="index_query2" href="{{source_url}}/search/?term=eye&sampleType=MUTANT&imageType=PHENOTYPE_ANATOMY" style="text-decoration: underline;">eye</a>, &nbsp
			<div class="tooltiptext" style="display:none">
				Search for phenotype images associated with an anatomical structure of interest - <i><b>eye</b></i>.
			</div>
	
			<a id="index_query3" href="{{source_url}}/search/?term=Sesn3&sampleType=MUTANT&imageType=PHENOTYPE_ANATOMY" style="text-decoration: underline;">Sesn3 </a>
	
			<div class="tooltiptext" style="display:none">
				Search for phenotype images of mutations in a specific gene - <i><b>Sesn3</b></i>.
			</div>
	
			<!--<b><a rel="{{source_url}}{% url 'documentation:searchHelpTooltip' %}" style="text-decoration: underline;cursor:pointer; position:relative; left:40px">View sample query</a></b>-->
		</div>
		
	   {% endif %}
	   
      <ul class="nav navbar-nav navbar-right">
       <!--  <li data-toggle="tooltip" data-placement="bottom" title="Register for an account"><a id="registerButton" href="#" target="_blank">Register</a></li>-->
      </ul>

<!--
      <ul class="nav navbar-nav navbar-right">
        <li><a id="loginButton" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
			
			<div class="dropdown-menu">
				
		   		<div id="login-tab-panel" role="tabpanel">
					<ul class="nav nav-tabs">
				 	    <li role="presentation" class="active"><a href="#login">Login</a></li>
				 	    <li role="presentation"><a href="#register">Register</a></li>
				  		<li role="presentation"><a href="#">Reset</a></li>
					</ul>
				</div>
					
		   		    <div role="tabpanel" class="tab-pane active" id="login">
					   <form style="margin: 0px" accept-charset="UTF-8" action="/sessions" method="post" class="navbar-form navbar-left" >
							   <div style="margin:0;padding:0;display:inline">
								   <input name="utf8" type="hidden" value="&#x2713;" />
								   <input name="authenticity_token" type="hidden" value="4L/A2ZMYkhTD3IiNDMTuB/fhPRvyCNGEsaZocUUpw40=" /></div>
								   
			                   <fieldset class='textbox' style="padding:10px">
			                 	   <input style="margin-top: 8px" type="text" placeholder="Username" class="form-control"/>
			                  	   <input style="margin-top: 8px" type="password" placeholder="Passsword" class="form-control" />
			                   	   <button type="submit" name="login" class="btn btn-primary">Login</button>
			                 </fieldset>
			               </form>
					</div>
					
		   		    <div role="tabpanel" class="tab-pane active" id="register">
						Registers form
					</div>
						   
			</div>
						 
		</li>
      </ul>
-->
    </div>
  </div>
</div>