{% load staticfiles %}

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/jquery/v1.10.2/jquery.min.js' %}"></script>

<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/jquery/v1.8.3/jquery-1.8.3.min.js' %}"></script>

<!-- jQuery UI -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/jquery-ui/v1.11.0/jquery-ui.js' %}"></script>

<!-- jQuery-lightbox -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/lightbox/jquery.lightbox.js' %}"></script>

<!-- Bootstrap -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/bootstrap.min.js' %}"></script>

<!-- Bootstrap Select-->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/bootstrap-select.js' %}"></script>

<!-- Datatables JQuery JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/datatables/v1.10.0/jquery.dataTables.js' %}"></script>

<script>

$(window).load(function(){

});

</script>