<footer>
  <div class="container">
		<div class="row">
      <div class="col-xs-3">
        <h5>Phenoimageshare</h5>
	  <p>Distributed database of annotated images.
          Collaborators: EMBL-EBI, Heriot-Watt University, MRC Human Genetics Unit, BBSRC.
        </p>
	  
      </div> <!-- /col-xs-2 -->
	
      <div class="col-xs-2">
        <h5>Search</h5>
      
      </div> <!-- /col-xs-2 -->
	
	
      <div class="col-xs-2">
        <h5>Submission</h5>
	  
      </div> <!-- /col-xs-2 -->
	
      <div class="col-xs-2">
        <h5>Glossary</h5>
      
      </div> <!-- /col-xs-2 -->
	
      <div class="col-xs-2">
        <h5>About PhIS</h4>
	  <p>Phenoimageshare is a research collaboration between the EMBL-EBI, Heriot-Watt University, MRC Human Genetics Unit and BBSRC. Code-named PhIS, Phenoimageshare delivers tools for annotation, querying, and submission of images across distributed databases.
        </p>
      </div> <!-- /col-xs-2 -->
	
      <div class="col-xs-4">
	  
      </div> <!-- /col-xs-2 -->
	
    </div>
  </div>
</footer>