{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">	
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'queries/css/bootstrap.css' %}" media="screen">

<!-- FlatUI CSS -->
<link rel="stylesheet" href="{% static 'queries/css/flat-ui.detailed_view.css' %}">

<!-- Hopscotch -->
<link rel="stylesheet" href="{% static 'queries/css/hopscotch.css' %}" media="screen">

<!-- Datatables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

<!-- DataTables CSS -->
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">

<!-- Tabletools datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/dataTables.tableTools.css' %}">

<!-- Colvis datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/dataTables.colVis.css' %}">

<!-- Colvis datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/jquery-ui.css' %}">

<!-- Colvis datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/dataTables.jqueryui.css' %}">

<!-- Colvis datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/dataTables.colvis.jqueryui.css' %}">

<!-- Responsive datatables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css">

<!-- jQuery qTip styles -->
<link rel="stylesheet" href="{% static 'queries/css/jquery.qtip.css' %}">

<style>
.disabled-links{
       pointer-events: none !important;
       cursor: default;
       color:Gray;
}
</style>