{% load staticfiles %}

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/jquery/v1.10.2/jquery.min.js' %}"></script>

<!-- jQuery UI -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/jquery-ui/v1.11.0/jquery-ui.js' %}"></script>

<!-- Datatables JQuery JS -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>

<!-- Tabletools datatables extension JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/datatables/extensions/tabletools/dataTables.tableTools.js' %}"></script>

<!-- Colvis JqueryUI datatables extension JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/datatables/extensions/jqueryui/dataTables.jqueryui.js' %}"></script>

<!-- Colvis datatables extension JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/datatables/extensions/colvis/dataTables.colVis.js' %}"></script>

<!-- Datatables JS -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<!-- Responsive datatables JS -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.min.js"></script>
 
<!-- jQuery-lightbox -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/lightbox/jquery.lightbox.js' %}"></script>

<!-- Bootstrap -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/bootstrap.min.js' %}"></script>

<!-- Bootstrap Select-->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/bootstrap-select.js' %}"></script>

<!-- Datatables JQuery JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/datatables/v1.10.0/jquery.dataTables.js' %}"></script>

<!-- Hopscotch JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/hopscotch/hopscotch.min.js' %}"></script>

<!-- PhenoImageShare Site Tour -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/utils/phis_tour.js' %}"></script>

<!-- qTip help jquery script -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/qTip/jquery.qtip.min.js' %}"></script>


<script>

$(window).load(function(){

});

</script>