{% load staticfiles %}

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/jquery/v1.10.2/jquery.min.js' %}"></script>

<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/jquery/v1.8.3/jquery-1.8.3.min.js' %}"></script>

<!-- jQuery UI -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/jquery-ui/v1.11.0/jquery-ui.js' %}"></script>

<!-- jQuery-lightbox -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/lightbox/jquery.lightbox.js' %}"></script>

<!-- Bootstrap -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/bootstrap.min.js' %}"></script>

<!-- Bootstrap Select-->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/bootstrap-select.js' %}"></script>

<!-- Bootstrap Switch -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/bootstrap-switch.js' %}"></script>

<!-- Bootstrap Placeholder -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.placeholder.js' %}"></script>

<!-- Bootstrap Tags Input -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.tagsinput.js' %}"></script>

<!-- Bootstrap Application for Switch & Selection -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/application.js' %}"></script>

<!-- Hopscotch-->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/hopscotch/hopscotch.min.js' %}"></script>

<!-- Autosuggest Plugin for PhIS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.typeahead-bundle.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.bloodhound.js' %}"></script>

<script>

var detail_url = "{% url 'queries:detail_view' %}";
var query_url = "{% url 'queries:query_view' %}";
this.autosuggest_acp = "getAutosuggest?term=";

$(window).load(function(){
	//included for comparison testing 
	var terms = new Bloodhound({
	    datumTokenizer: function (datum) {
	        return Bloodhound.tokenizers.whitespace(datum.value);
	    },
	    queryTokenizer: Bloodhound.tokenizers.whitespace,
	    remote: {
	        url: this.base_query_url + this.autosuggest_acp + '%QUERY',
	        filter: function (data) {
	            return $.map(data, function (term) {
	                return {
	                    value: term
	                };
	            });
	        }
	    }
	});
	
	terms.initialize();
	
	$('#indexInput').typeahead({
		highlight: true,
		hint: true,
		minLength: 1
	}, {
	    displayKey: 'value',
	    source: terms.ttAdapter()
	});
});


</script>