{% load staticfiles %}
<hr/>

<p class="text-center"><div class="row">

  <div class="col-lg-3">
  </div>
	      <table id="imgtable" class="table table-bordered table-striped table-hover table-condensed">
	            <thead>
	            </thead>

	  		  	<tbody>

		  		 	 <tr>
		  				 <img src="{% static 'queries/img/BBSRC.jpg' %}"/>
		  		  	 </tr>
		  		 	 <tr>
						 <img src="{% static 'queries/img/HGU.png' %}" />
  				 
		  		  	 </tr>
		  		 	 <tr>
		  				 <img src="{% static 'queries/img/EMBL_EBI_Logo_black.png' %}" />
		  		  	 </tr>
		  		 	 <tr>
  				 
		  		  	 </tr>
		  		 	 <tr>
		  				 <img src="{% static 'queries/img/HWU.png' %}"/>
		  		  	 </tr>
	  			 </tbody>
	        </table>

</div></p>