		<div class="panel-group" id="annotation_accordion">
			<div class="panel panel-primary">
   
	    <div class="panel-heading">
    	   	<h3 id="annotationTool" class="panel-title">
				<a data-toggle="collapse" data-parent="#annotation_accordion" href="#annotationtool"> Annotation Tool (Draggable)</a>
			</h3>
  	 	</div>
	
		<div id="annotationtool" class="panel-collapse collapse out">

		<div class="list-group">
		
		<ul class="list-group">
		<li class="list-group-item">
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-drawer"></span>
		</button>
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-selector"></span>
		</button>
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-viewport-drag"></span>
		</button>
		</li>
		
		
		
		<li class="list-group-item">
			
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-feducial"></span>
		</button>
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-point"></span>
		</button>
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-roi"></span>
		</button>
		
		</li>
		
		<li class="list-group-item">
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-undo"></span>
		</button>
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-redo"></span>
		</button>
	
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-save"></span>
		</button>
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-copy"></span>
		</button>
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-cut"></span>
		</button>
		<button type="button" class="btn btn-default"> 
			<span class="annotation tool-paste"></span>
		</button>
		</li>
		
		<li class="list-group-item">
	            <div id="slider" class="ui-slider">
	              <div class="ui-slider-segment"></div>
	              <div class="ui-slider-segment"></div>
	              <div class="ui-slider-segment"></div>
	            </div>
		</li>
		
		</ul>
  	
      </div>	
			</div>
		
		</div>
            <div class="share">
              <ul>
                <li>
                  <label class="share-label" for="share-toggle2">Show annotation</label>
                  <input type="checkbox" data-toggle="switch"/>
                </li>
                <li>
                  <label class="share-label" for="enable_annotation">Enable annotation</label>
                  <input type="checkbox" id="enable_annotation" data-toggle="switch"/>
                </li>
               
              </ul>
		  
		</div>
		</div>