{% load staticfiles %}
<!-- FlatUI CSS -->
<link rel="stylesheet" href="{% static 'queries/css/flat-ui.detailed_view.css' %}">
   
<!-- Bootswatch CSS -->
<link rel="stylesheet" href="{% static 'queries/css/bootswatch.min.css' %}">

<!-- Lightbox CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/lightbox.css' %}">

<!-- Annotation Tool CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/annotation-tool.css' %}">

<!-- Datatables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

<!-- Tabletools datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/dataTables.tableTools.css' %}">

<!-- Colvis datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/dataTables.colVis.css' %}">

<!-- Colvis datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/jquery-ui.css' %}">

<!-- Colvis datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/dataTables.jqueryui.css' %}">

<!-- Colvis datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/dataTables.colvis.jqueryui.css' %}">

<!-- Responsive datatables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css">

<!-- qTip CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/jquery.qtip.css' %}">