{% load staticfiles %}
<!-- FlatUI CSS -->
<!--<link rel="stylesheet" href="{% static 'queries/css/flat-ui.detailed_view.css' %}">-->
   
<!-- Bootswatch CSS -->
<!-- <link rel="stylesheet" href="{% static 'queries/css/bootswatch.min.css' %}"> -->

<!-- Lightbox CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/lightbox.css' %}">

<!-- Annotation Tool CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/annotation-tool.css' %}">

<!-- Font CSS-->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">

<style>
#qtip-growl-container{
    position: relative;
    top: 10px; right: 10px;
}
    #qtip-growl-container .qtip{
        position: static;
        min-height: 0;
        overflow: hidden;
        margin: 0 0 5px 0;
 }
</style>