{% load staticfiles %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'queries/css/bootstrap.css' %}" media="screen">

<!-- DataTables CSS -->
<link rel="stylesheet" href="{% static 'queries/css/font-awesome.min.css' %}">

<!-- Bootswatch CSS -->
<link rel="stylesheet" href="{% static 'queries/css/bootswatch.css' %}">

<!-- FlatUI CSS -->
<link rel="stylesheet" href="{% static 'queries/css/flat-ui.detailed_view.css' %}">
  
<!-- Lightbox CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/lightbox.css' %}">

<!-- Annotation Tool CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'queries/css/annotation-tool.css' %}">

