{% load staticfiles %}

<!-- jQuery-lightbox -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/lightbox/jquery.lightbox.js' %}"></script>

<!-- Detailed View Generic Controller -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/controllers/detail/generic_detailed_controller.js' %}"></script>

<!-- Openseadragon Zoom Creator 
<script type="text/javascript" charset="utf8" src="{% static 'utils/assets/openseadragon.min.js' %}"></script>
-->
<!-- Annotation Tool -->
<script type="text/javascript" charset="utf8" src="{% static 'annotation/js/controllers/annotation_tool.js' %}"></script>

<!-- jQuery BlockUI blocker -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/blocker/jquery.blockUI.js' %}"></script>

<!-- Autosuggest Plugin for PhIS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.typeahead-bundle.js' %}"></script>

<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.bloodhound.js' %}"></script>

<!-- jQuery Cookie manager -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.cookie.js' %}"></script>

<!-- Detail view feedback JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/utils/feedback.js' %}"></script>

<script type="text/javascript" charset="utf8" src="{% static 'queries/js/controllers/queries/search/search_script.js' %}"></script>

<script>


$(document).ready(function(){
        $(".lightbox").lightbox({
        	fileLoadingImage: "{% static 'queries/img/lightbox/loading.gif' %}",
			fileBottomNavCloseImage : "{% static 'queries/img/lightbox/closelabel.gif' %}"
        });
	
		initialiseController();
		
		search = new Search();
		search.init();
			
});

var base_query_url = "{% url 'queries:query_view' %}";
var echarts_base_url = "{% static 'queries/assets/echarts' %}";
var loading_waiter_url = "{% static 'queries/img/data_loader_waiter2.gif' %}";

var detail_url = "{% url 'queries:detail_view' %}";
var query_url = "{% url 'queries:query_view' %}";
var autosuggest_acp = "getAutosuggest?term=";


function loadSearchPage(){
	var searchString = $("#searchInput").val();
	url = base_query_url + "?q="+searchString;
	window.location.href = url;
}

var detail_url = "{% url 'queries:detail_view' %}";
var query_url = "{% url 'queries:query_view' %}";
var autosuggest_acp = "getAutosuggest?term=";


function initialiseController(){
	var params = new Object();
	
	params.associatedROIURL = "{{image.associatedROI | safe}}";
	params.imageId = "{{image.imageId | safe}}";
	params.imageURL = "{{image.url | safe}}";
	params.status = JSON.parse('{{image.status | safe}}');
	
	//params.dziName = "{{image.deepzoom | safe}}";
	params.annotationBaseURL = "{% url 'annotation:drawing_view' %}";
	params.imageDimensions = ['{{image.height | safe}}', '{{image.width | safe}}'];
	params.swfURL = "{% static 'queries/swf/copy_csv_xls_pdf.swf' %}";
	params.ROIs = JSON.parse('{{roi_data | safe}}');
	
	var controller = new DetailedController();
	
	controller.setParams(params);
	controller.initialiseElements();
	
	if (params.ROIs['server_error'] == undefined){
		//console.log(params.ROIs);
		controller.displayROIs();
	}
	
	/*
	var viewer = OpenSeadragon({
	        id: "openseadragon1",
	        tileSources: "{% static 'utils/images/dzifiles/' %}" + params.dziName + '.dzi',
			showNavigator:  true,
	});
	*/
}

</script>