<div id="dashboard" class="row">
  <div id="imagingmethods-chart" class="col-lg-4" style="min-width: 300px; max-width: 360px; height: 360px; margin: 0 auto">
  	
  </div>
  
  <div id="image-type-chart" class="col-lg-4" style="min-width: 300px; max-width: 360px; height: 360px; margin: 0 auto">
  	
  </div>
 
  <div id="sample-type-chart" class="col-lg-4" style="min-width: 300px; max-width: 360px; height: 360px; margin: 0 auto">
  	
  </div>
  
 </div>

<!--
 <div class="row">
  
  <div id="stage-chart" class="col-lg-4" style="min-width: 300px; max-width: 360px; height: 360px; margin: 0 auto">
  	
  </div>
  
  <div id="imagingMethods-sample-chart" class="col-lg-4" style="min-width: 400px; max-width: 500px; height: 400px; margin: 0 auto">
  	
  </div>
  
  <div id="imagingMethods-sample-chart2" class="col-lg-4" style="min-width: 400px; max-width: 500px; height: 400px; margin: 0 auto">
  	
  </div>
  
</div>
-->
  
