{% load staticfiles %}

<!-- NCBO JS for autocomplete -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/ncbo/form_complete.js' %}"></script>

<!-- PhenoImageShare Site Tour -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/utils/phis_tour.js' %}"></script>

<!-- Highcharts for Dashboard -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/highcharts/highcharts-3d.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/highcharts/exporting.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/highcharts/data.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/highcharts/drilldown.js' %}"></script>

<!-- ECharts for Dashboard -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/echarts/echarts-all.js' %}"></script>
<!--sscript type="text/javascript" charset="utf8" src="{% static 'queries/assets/echarts/pie.js' %}"></script-->

<!-- Statistics Utility -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/utils/stats.js' %}"></script>

<!-- jQuery BlockUI blocker -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/blocker/jquery.blockUI.js' %}"></script>


<script>

var base_query_url = "{% url 'queries:query_view' %}";
var echarts_base_url = "{% static 'queries/assets/echarts' %}";
var loading_waiter_url = "{% static 'queries/img/data_loader_waiter2.gif' %}";

function loadSearchPage(){
	var searchString = $("#indexInput").val();
	url = base_query_url + "?q="+searchString;
	window.location.href = url;
}

$(document).ready(function() {
	$('#indexInput').keypress( function(e){
		console.log("Enter key pressed");
	
		if(e.which == 13){
			loadSearchPage();	
			$.blockUI({ message: '<h1>Loading...<img src="'+loading_waiter_url+'"/></h1>'});		
		}

	});
});


var index_tour = {
  id: "phis_tour",
  steps: [
    {
      title: "What is this about ?",
      content: "Let's start by taking a tour of the tool",
      target: "tourButton",
      placement: "bottom"
    }
  ]
};

// Start the tour!
//hopscotch.startTour(index_tour);

function startTour(){
	hopscotch.startTour(tour);
}



//Dashboards
var statsCollector = new Stats();
statsCollector.setQueryURL(base_query_url);
statsCollector.setEchartsURL(echarts_base_url);
statsCollector.generateStatsAndCharts();

</script>
