{% load staticfiles %}

<div id="landing_text" class="row">

   	 <div class="col-lg-10">
		  	<p style="font-size:14px">PhenoImageShare (PhIS) is a platform enabling semantic discovery, browsing and annotation of cross-species, cross-repository phenotype images.</p>
   	 </div>
	
</div>

<div id="dashboard" class="row">
  <div id="imagingmethods-chart" class="col-lg-4" style="min-width: 300px; max-width: 360px; height: 360px; margin: 0 auto">
  	
  </div>
  
  <div id="image-type-chart" class="col-lg-4" style="min-width: 300px; max-width: 360px; height: 360px; margin: 0 auto">
  	
  </div>
 
  <div id="sample-type-chart" class="col-lg-4" style="min-width: 300px; max-width: 360px; height: 360px; margin: 0 auto">
  	
  </div>
  
 </div>
 
 <div id="news" class="row">
 	<h3 id="" class="panel-title" style="margin-top: 10px;padding: 0px;">
 		<a data-toggle="collapse" data-parent="#accordion" href="#anatomyterms" style="font-size: 24px">News</a>
 	</h3>

 	<div class="panel panel-primary" style="">
 	</div>
	
	<h3 id="" class="panel-title" style="margin-top: 10px;padding: 0px;">
		<a data-toggle="collapse" data-parent="#accordion" href="#" >PhenoImageShare goes live! </a>
	</h3>
	<p style="font-size:10px">Submitted by Solomon Adebayo on Tue, 23/09/2015 - 13:34</p>
 	<p style="font-size:14px; margin : 0; ">PhenoImageShare (PhIS) goes live at <a href="http://www.phenoimageshare.org"> www.phenoimageshare.org.</a></p>
	<p style="font-size:14px; margin : 0; ">Latest data release available at <a href="http://beta.phenoimageshare.org/release/data/"> http://beta.phenoimageshare.org/release/data/ </a></p>
 	<p style="font-size:14px; margin : 0; ">Follow us on <a href="https://twitter.com/phenoimageshare"> </a> twitter for latest happenings.</p>
	
	
	<h3 id="" class="panel-title" style="margin-top: 30px;padding: 0px;">
		<a data-toggle="collapse" data-parent="#accordion" href="#" >PhenoImageShare goes social!</a>
	</h3>
	<p style="font-size:10px">Submitted by Solomon Adebayo on Tue, 23/09/2015 - 13:34</p>
 	<p style="font-size:14px; margin : 0; ">Follow us on <a href="https://twitter.com/phenoimageshare"> twitter.</a></p>
 	<p style="font-size:14px; marginp :0; ">Like our <a href="https://www.facebook.com/phenoimageshare">facebook page</a> to get latest news about PhIS</p>
	
 	<h3 id="" class="panel-title" style="margin-top: 30px;padding: 0px;">
 		<a data-toggle="collapse" data-parent="#accordion" href="#" >PhenoImageShare presented at the PhenoDay2015 @ The ISMB/ECCB 2015 in Dublin, Ireland</a>
 	</h3>
	<p style="font-size:10px">Submitted by Solomon Adebayo on Tue, 22/09/2015 - 13:34</p>
	
	<p style="font-size:14px; margin-top :0; ">Solomon Adebayo presented PhenoImageShare at the PhenotypeDay2015 @ ISMB Dublin 2015, reaching out to bio-ontologies researchers and wider community. Proceedings of the PhenotypeDay 2015 (Bio-ontologies SIG) meeting available <a href="http://phenoday2015.bio-lark.org/PhenotypeDay2015.pdf"> online.</a></p>
	<p style="font-size:14px">Paper accepted for presentation at the workshop available <a href="http://phenoday2015.bio-lark.org/pdf/5.pdf"> online. </a></p>
	<p style="font-size:14px">Presentation available <a href="{% static 'documentation/pdfs/PhenoImageShare_Phenoday2015-Final.ppt.pdf' %}"> online. </a></p>
	
 	<h3 id="" class="panel-title" style="margin-top: 30px;padding: 0px;">
 		<a data-toggle="collapse" data-parent="#accordion" href="#" >Beta version release</a>
 	</h3>
	<p style="font-size:10px">Submitted by Ilinca Tudose on Thu, 05/28/2015 - 12:39</p>
	
	<p style="font-size:14px">Our website is now accessible in an open beta version. You can take a tour of the features or choose to start with a search of your own on http://beta.phenoimageshare.org.</p>
	<p><a href="{% static 'documentation/images/beta_release.png' %}" title="Beta release" class="lightbox"><img src="{% static 'documentation/images/beta_release.png' %}" alt="Clickthrough search results"/ ></a></p>
	
	<p style="font-size:14px">We look forward to getting any feedback from you at <a href="mailto:webmaster@phenoimageshare.org">webmaster@phenoimageshare.org</a></p>
	
	
 	<h3 id="" class="panel-title" style="margin-top: 30px;padding: 0px;">
 		<a data-toggle="collapse" data-parent="#accordion" href="#" >Dundee Medical Image Analysis Workshop 2015</a>
 	</h3>
	<p style="font-size:10px">Submitted by Ilinca Tudose on Thu, 05/28/2015 - 12:39</p>
	
	<p style="font-size:14px">Kenneth McLeod and Solomon Adebayo presented the PhenoImageShare concept at the Medical Image Analysis Workshop in Dundee, reaching out to the medical community.</p>
	<p style="font-size:14px">The abstracts are available <a href="http://mia.computing.dundee.ac.uk/wp-content/uploads/2015/03/Dundee_MIA_Workshop_2015_Book_of_Abstracts.pdf"> online </a></p>
	
 	<h3 id="" class="panel-title" style="margin-top: 30px;padding: 0px;">
 		<a data-toggle="collapse" data-parent="#accordion" href="#" >Open Beta This Spring</a>
 	</h3>
	<p style="font-size:10px">Submitted by Ilinca Tudose on Fri, 01/30/2015 - 17:21</p>
	
	<p style="font-size:14px">We're close to our first open beta release. We're still testing and improving our application but we look forward to sharing it with anyone interested this spring. We also look forward to getting your feedback!</p>
	<p style="font-size:14px">We are testing the features to be released, but we can at least promise a powerful query interface</p>
	<p style="font-size:14px">If you come back in the spring there will be a link to the beta website.</p>
	
	
	
 	<h3 id="" class="panel-title" style="margin-top: 30px;padding: 0px;">
 		<a data-toggle="collapse" data-parent="#accordion" href="#" >Poster Presentation at Phenotype Day @ ISMB 2014 in Boston, USA</a>
 	</h3>
	<p style="font-size:10px">Submitted by Gautier Koscielny on Tue, 07/08/2014 - 17:12</p>
	
	<p style="font-size:14px">Kenneth McLeod will present a poster during the <a href="http://phenoday2014.bio-lark.org/"> Phenotype day @ ISMB 2014</a> on the 12 July 2014
			The Phenotype day is an initiative developed jointly with the Bio-Ontologies and BioLINK Special Interest Groups.
			Single volume proceedings: <a href="http://phenoday2014.bio-lark.org/PhenotypeDay2014.pdf"> PhenotypeDay2014.pdf </a>
	</p>
	<p style="font-size:14px">We are testing the features to be released, but we can at least promise a powerful query interface</p>
	<p style="font-size:14px">If you come back in the spring there will be a link to the beta website.</p>
	
	
	
 	<h3 id="" class="panel-title" style="margin-top: 30px;padding: 0px;">
 		<a data-toggle="collapse" data-parent="#accordion" href="#" >Mouse Models of Disease - 5-7 February 2014</a>
 	</h3>
	<p style="font-size:10px">Submitted by Gautier Koscielny on Tue, 07/08/2014 - 15:33</p>
	
	<p style="font-size:14px">
		PhenoImageShare – A Resource for Federating Annotated Phenotype Images
	</p>
	<p style="font-size:14px; margin : 0; ">Poster will be presented at the Wellcome Trust Scientific Conference, Mouse Models of Disease: Using pathology techniques to enhance phenotyping outcomes taking place at the Wellcome Trust Conference Centre in the Kendrew Lecture Theatre on 5-7 February 2014</p>
	
	
 </div>
 
<br/>
<br/>
 <div class="row">
	 <div class="col-lg-7">
	 </div>
	 
	 <div class="col-lg-3">
 		 <div class="beta-release">
		</div>
	</div>
 </div>
 
<!--
 <div class="row">
  
  <div id="stage-chart" class="col-lg-4" style="min-width: 300px; max-width: 360px; height: 360px; margin: 0 auto">
  	
  </div>
  
  <div id="imagingMethods-sample-chart" class="col-lg-4" style="min-width: 400px; max-width: 500px; height: 400px; margin: 0 auto">
  	
  </div>
  
  <div id="imagingMethods-sample-chart2" class="col-lg-4" style="min-width: 400px; max-width: 500px; height: 400px; margin: 0 auto">
  	
  </div>
  
</div>
-->
  
  
  <style>
  .beta-release{
  	
  }
  </style>
