<div class="col-lg-10 col-lg-pull-1">
	
	<div class="input-group inner-addon right-addon">
	  <span id="freetextLabel" class="input-group-addon">Enter freetext:</span>
  
	   		<i class="glyphicon glyphicon-search"></i>
			<input type="text" onkeydown="" class="form-control col-lg-8 autosuggest" id="indexInput" placeholder="e.g. corneal opacity" />
  
	  	 <span class="input-group-btn">
	    	  <button type="button" id="searchButton" class="btn btn-primary" onClick=loadSearchPage()>Search</button>
	 	 </span>
	</div>
</div>

<div class="col-lg-2 col-lg-pull-1">	
	<button id="tourButton"  class="btn btn-large btn-primary">Take a tour >></button>
</div>