{% load staticfiles %}

<!-- Highcharts for Dashboard -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/highcharts/highcharts-3d.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/highcharts/exporting.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/highcharts/data.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/highcharts/drilldown.js' %}"></script>

<!-- ECharts for Dashboard -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/echarts/echarts-all.js' %}"></script>
<!--sscript type="text/javascript" charset="utf8" src="{% static 'queries/assets/echarts/pie.js' %}"></script-->

<!-- Statistics Utility -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/utils/stats.js' %}"></script>

<!-- jQuery BlockUI blocker -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/blocker/jquery.blockUI.js' %}"></script>


<!-- Autosuggest Plugin for PhIS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.typeahead-bundle.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.bloodhound.js' %}"></script>


<script>

var base_query_url = "{% url 'queries:query_view' %}";
var echarts_base_url = "{% static 'queries/assets/echarts' %}";
var loading_waiter_url = "{% static 'queries/img/data_loader_waiter2.gif' %}";

var detail_url = "{% url 'queries:detail_view' %}";
var query_url = "{% url 'queries:query_view' %}";
var autosuggest_acp = "getAutosuggest?term=";


function loadSearchPage(){
	var searchString = $("#indexInput").val();
	url = base_query_url + "?q="+searchString;
	window.location.href = url;
}


var detail_url = "{% url 'queries:detail_view' %}";
var query_url = "{% url 'queries:query_view' %}";
var autosuggest_acp = "getAutosuggest?term=";

$(document).ready(function() {

	//beta 1.0 release announcement
	/*
		$('div.beta-release').block({ 
	        message: '<p><h5>Beta release 1.0</h5></p><p>Coming soon...</p>',
	        fadeIn: 700, 
	        fadeOut: 700, 
	        showOverlay: false, 
	        centerY: false, 
	        css: { 
	            width: '350px', 
	            top: '10px', 
	            left: '', 
	            right: '10px', 
	            border: 'none', 
	            padding: '5px', 
	            backgroundColor: '#000', 
	            '-webkit-border-radius': '10px', 
	            '-moz-border-radius': '10px', 
	            opacity: .6, 
	            color: '#fff' 
	        } 
	    });  
	*/
	
	//autosuggest JS library 
	var terms = new Bloodhound({
	    datumTokenizer: function (datum) {
	        return Bloodhound.tokenizers.whitespace(datum.value);
	    },
	    queryTokenizer: Bloodhound.tokenizers.whitespace,
	    remote: {
	        url: base_query_url + autosuggest_acp + '%QUERY',
	        filter: function (data) {
	            return $.map(data, function (term) {
	                return {
	                    value: term
	                };
	            });
	        }
	    }
	});
	
	terms.initialize();
	
	$('#indexInput').typeahead({
		highlight: true,
		hint: true,
		minLength: 1
	}, {
	    displayKey: 'value',
	    source: terms.ttAdapter()
	});
	
	
	//keypress event handler
	$('#indexInput').keypress( function(e){
		
		if(e.which == 13){
			loadSearchPage();	
			$.blockUI({ message: '<h1>Loading...<img src="'+loading_waiter_url+'"/></h1>'});		
		}

	});
});

// Start the tour!
//hopscotch.startTour(index_tour);

function startTour(){
	hopscotch.startTour(tour);
}

//Dashboards
var statsCollector = new Stats();
statsCollector.setQueryURL(base_query_url);
statsCollector.setEchartsURL(echarts_base_url);
statsCollector.generateStatsAndCharts();

</script>
