<div class="input-group btn-group" id="configdiv">
	
	<span class="input-group-btn">
	     <button id="gridButton" data-toggle="button" type="button" class="btn btn-primary">
		   <span class="glyphicon glyphicon-th"></span>
		 </button>
	     <button id="listButton" type="button" data-toggle="buttons-radio" class="btn btn-primary active">
		   <span class="glyphicon glyphicon-th-list" ></span>
		 </button>
	     <button id="settingsButton" type="button" data-toggle="buttons-radio" class="btn btn-primary">
		   <span class="glyphicon glyphicon-wrench"></span>
		 </button>
	</span>



</div>