{% load staticfiles %}

<!-- Query Processor (AJAX) Script for populating the query results-->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/controllers/queries/response/response_processor.js' %}"></script>

<!-- Faceted View tree strcuture JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/facets/bootstrap-treeview.js' %}"></script>

<!-- Faceted View Objects -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/models/queries/facets/objects/facet_structure.js' %}"></script>

<!-- Configuration -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/config/queries/config.js' %}"></script>

<!-- Flat-UI Checkbox -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/flatui-checkbox.js' %}"></script>

<!-- Autosuggest Plugin for PhIS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.typeahead-bundle.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.bloodhound.js' %}"></script>

<!-- User Interaction Library for PhIS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/utils/interaction.js' %}"></script>

<!-- Social media link sharing library -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/share/share.js' %}"></script>

<!-- Clipboard copy application -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/clipboard/ZeroClipboard.js' %}"></script>

<!-- Clipboard copy application -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/log/queryScrollingLog.js' %}"></script>

<!-- jQuery BlockUI blocker -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/blocker/jquery.blockUI.js' %}"></script>

<!-- Bootstrap Switch -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/bootstrap-switch.js' %}"></script>

<!-- Bootstrap Switch -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/bootstrap-switch.js' %}"></script>

<!-- Bootstrap Placeholder -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.placeholder.js' %}"></script>

<!-- Bootstrap Tags Input -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/jquery.tagsinput.js' %}"></script>

<!-- Bootstrap Application for Switch & Selection -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/application.js' %}"></script>

<!-- Gallery library -->

<!-- 

-->

<script>


$(window).load(function(){
	//included for comparison testing 

});

//evaluate URLs
var detail_url = "{% url 'queries:detail_view' %}";
var query_url = "{% url 'queries:query_view' %}";
var autosuggest_url = query_url + "getAutosuggest";
var source_url = "{{source_url | safe}}";
var loading_waiter_url = "{% static 'queries/img/data_loader_waiter2.gif' %}";

var query = JSON.parse('{{query | safe}}');
var interactionEngine = new Interaction(query_url, detail_url, autosuggest_url, source_url, loading_waiter_url, query);

$(document).ready(function() {

	//setting initial input box value
	if (query != undefined && query.term !=undefined)
		$("#searchInput").val(query.term[0]);
	//creat and initialise interaction engine

	interactionEngine.initialise();
	
	$(function() {
		//Grid.init();
	});
	
	$('#searchInput').keypress( function(e){
		//block the UI while loading data from server, only if the Enter key is pressed
		if(e.which == 13){
			$.blockUI({ message: '<h1>Loading...<img src="'+loading_waiter_url+'"/></h1>'});
			$('#searchInput').typeahead('close');	
		}

		
		loadJSON();
	});
	
	$('a[rel]').each(function() {
        $(this).qtip({
            content: {
                text: function(event, api) {
                    $.ajax({
                        url: api.elements.target.attr('rel') // Use href attribute as URL
                    })
                    .then(function(content) {
                        // Set the tooltip content upon successful retrieval
                        api.set('content.text', content);
                    }, function(xhr, status, error) {
                        // Upon failure... set the tooltip content to error
                        api.set('content.text', status + ': ' + error);
                    });
        
                    return 'Loading...'; // Set some initial text
                },
				title: 'Search Examples',
				button: true
            },
	        position: {
	            my: 'top right',
	            at: 'bottom center'
	        },
			
	        show: {
	            event: 'click'
	        },
			
	        hide: {
	            event: false,
	            effect: function(api) {
	                $(this).stop(0, 1).animate({ height: 'toggle' }, 400, 'swing');
	            },
	        },
	        events: {
	            
	        },
			style:{
				classes:"qtip-bootstrap",
				width: 500, 
			}
        });
     })
	 .click(function(e){ e.preventDefault(); });

     $('#helpIcon').qtip({
         content: {
            text: $('#helpIcon').next('.tooltiptext'),
			title: 'Browse PhIS data with facets and filters',
			button: true
         },
        position: {
            my: 'top left',
            at: 'bottom right'
        },
		
        hide: {
            delay:1000
        },
        events: {
            
        },
		style:{
			classes:"qtip-bootstrap",
		}
     });
	 
     $('#historyIcon').qtip({
         content: {
            text: $('#historyIcon').next('.tooltiptext'),
			title: 'Query display, history & sharing',
			button: true
         },
        position: {
            my: 'top right',
            at: 'bottom right'
        },
		
        hide: {
            delay:1000
        },
        events: {
            
        },
		style:{
			classes:"qtip-bootstrap",
		}
     });
	 
	 //tooltip for sample queries under the search input field
	 $('#example_query3').qtip({
         content: {
            text: $('#example_query3').next('.tooltiptext'),
			title: false,
			button: false
         },
        position: {
            my: 'top right',
            at: 'bottom center'
        },
		
        hide: {
            delay:100
        },
        events: {
            
        },
		style:{
			classes:"qtip-bootstrap",
		}
     });
	 
	 $('#example_query2').qtip({
         content: {
            text: $('#example_query2').next('.tooltiptext'),
			title: false,
			button: false
         },
        position: {
            my: 'top right',
            at: 'bottom center'
        },
		
        hide: {
            delay:100
        },
        events: {
            
        },
		style:{
			classes:"qtip-bootstrap",
		}
     });
	 
	 $('#example_query1').qtip({
         content: {
            text: $('#example_query1').next('.tooltiptext'),
			title: false,
			button: false
         },
        position: {
            my: 'top right',
            at: 'bottom center'
        },
		
        hide: {
            delay:100
        },
        events: {
            
        },
		style:{
			classes:"qtip-bootstrap",
		}
     });
	 
});

function searchClickEventHandler(){
	$.blockUI({ message: '<h1>Loading...<img src="'+loading_waiter_url+'"/></h1>'});
	loadJSON();
}

function loadJSON(){
	interactionEngine.loadJSON();
}


</script>
