{% load staticfiles %}

<!-- Datatables JQuery JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/datatables/v1.10.0/jquery.dataTables.js' %}"></script>

<!-- Datatables JS -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<!-- Query Processor (AJAX) Script for populating the query results-->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/controllers/queries/response/response_processor.js' %}"></script>

<!-- Faceted View tree strcuture JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/facets/bootstrap-treeview.js' %}"></script>

<!-- Faceted View Objects -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/models/queries/facets/objects/facet_structure.js' %}"></script>

<!-- Configuration -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/config/queries/config.js' %}"></script>

<!-- 

<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/searchAndFacetConfig.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/geneFacetWidget.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/mpFacetWidget.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/maFacetWidget.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/pipelineFacetWidget.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/diseaseFacetWidget.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/imagesFacetWidget.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/search.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/searchAndFacet_primer.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/tools.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/ui.dropdownchecklist_modif.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/impc/documentationConfig.js' %}"></script>


<script>
var baseUrl="/data";
var solrUrl='https://localhost/solr';
var drupalBaseUrl = "https://localhost";
var mediaBaseUrl = "https://localhost";


try {
  console.log(" ");
} catch(err) {
  var console = {};
  console.log = console.error = console.info = console.debug = console.warn = console.trace = console.dir = console.dirxml = console.group = console.groupEnd = console.time = console.timeEnd = console.assert = console.profile = function() {};
}
</script>

-->

<script>

var queryProcessor = new Processor();
base_detail_url = "{% url 'queries:detail_view' %}";
queryProcessor.setBaseURL(base_detail_url);

$(document).ready(function() {
	//loadFacets();
});
 
function loadJSON(){
		queryProcessor.loadJSON();
}

</script>
