{% load staticfiles %}

<!-- Datatables JQuery JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/datatables/v1.10.0/jquery.dataTables.js' %}"></script>

<!-- Datatables JS -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<!-- Query Processor (AJAX) Script for populating the query results-->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/controllers/queries/response/response_processor.js' %}"></script>

<!-- Faceted View tree strcuture JS -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/assets/facets/bootstrap-treeview.js' %}"></script>

<!-- Faceted View Objects -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/models/queries/facets/objects/facet_structure.js' %}"></script>

<!-- Configuration -->
<script type="text/javascript" charset="utf8" src="{% static 'queries/js/config/queries/config.js' %}"></script>

<!-- 

-->

<script>

var queryProcessor = new Processor();
base_detail_url = "{% url 'queries:detail_view' %}";
queryProcessor.setBaseURL(base_detail_url);

$(document).ready(function() {
	queryProcessor.loadJSON();
});
 
function loadJSON(){
		queryProcessor.loadJSON();
}

</script>
