<div class="row">
<div class="panel-group" id="accordion">
	<div class="panel panel-primary">

<div class="panel-heading">
   	<h3 id="experimentinfoID" class="panel-title">
		<a data-toggle="collapse" data-parent="#accordion" href="#observationsinfo">Observations</a>
	</h3>
</div>

<div id="observationsinfo" class="panel-collapse collapse out">
	
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">{{image.observations.0}}</span>
   
  </li>
</ul>
				
</div>

</div>
</div>
</div>